/* Custom cursor */
#cursor {
  display: none;
  position: fixed;
  inset: -7.5px 0 0 -7.5px;
  width: 15px;
  height: 15px;
  background-color: var(--color-secondary);
  border-radius: 50%;
  pointer-events: none;
  border: 1px solid var(--color-white);
  transition: opacity 0.15s linear;
  z-index: 999;
}

#cursor-border {
  display: none;
  --size-cursor: 50px;
  position: fixed;
  inset: calc(var(--size-cursor) / -2) 0 0 calc(var(--size-cursor) / -2);
  width: var(--size-cursor);
  height: var(--size-cursor);
  border-radius: 50%;
  box-shadow: 0 0 0 1px white;
  background-color: var(--color-secondary);
  pointer-events: none;
  transition: top 0.15s linear, left 0.15s linear, width 0.15s linear,
    height 0.15s linear, background-color 0.15s ease-in-out,
    opacity 0.15s linear, content 0.15s ease-in-out;
  opacity: 0.2;
  z-index: 998;
}

.small-cursor {
  opacity: 1 !important;
  background-color: rgba(0, 0, 0, 0.3) !important;

  &::after {
    content: "🡥";
    color: white;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.big-cursor {
  opacity: 1 !important;
  background-color: white !important;
  mix-blend-mode: difference;
}
