/* Custom cursor */
#cursor {
  display: none;
  position: fixed;
  top: -7.5px;
  left: -7.5px;
  width: 15px;
  height: 15px;
  background-color: var(--color-secondary);
  border-radius: 50%;
  pointer-events: none;
  border: 1px solid var(--color-white);
  transition: opacity 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  z-index: 999;
}

#cursor-border {
  display: none;
  --size-cursor: 50px;
  position: fixed;
  top: calc(var(--size-cursor) / -2);
  left: calc(var(--size-cursor) / -2);
  width: var(--size-cursor);
  height: var(--size-cursor);
  border-radius: 50%;
  box-shadow: 0 0 0 1px white;
  background-color: var(--color-secondary);
  pointer-events: none;
  transition: top 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955),
    left 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955),
    width 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955),
    height 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955),
    background-color 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955),
    opacity 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  opacity: 0.2;
  z-index: 998;
}

.small-cursor {
  opacity: 1 !important;
  background-color: rgba(0, 0, 0, 0.3) !important;

  .cursor-tooltip {
    opacity: 1 !important;
    visibility: visible;
  }
}

.big-cursor {
  opacity: 1 !important;
  background-color: white !important;
  mix-blend-mode: difference;
}

.cursor-tooltip {
  position: relative;
  opacity: 0;
  visibility: hidden;
  bottom: 35px;
  right: 35px;
  transition: opacity 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955),
    visibility 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955);

  &::after {
    /* content: attr(data-tooltip); */
    content: "CLICK";
    position: absolute;
    color: black;
    background-color: white;
    padding: 10px;
    font-size: 0.6rem;
    top: -5px;
    translate: 17px 0;
    border-radius: 20px;
    letter-spacing: 0.2rem;
    border: 1px solid black;
  }
}
