/* Custom cursor */
#cursor {
  display: none;
  position: fixed;
  top: -7.5px;
  left: -7.5px;
  width: 15px;
  height: 15px;
  background-color: var(--color-secondary);
  border-radius: 50%;
  pointer-events: none;
  border: 1px solid var(--color-white);
  transition: opacity 0.15s linear;
  z-index: 999;
}

#cursor-border {
  display: none;
  --size-cursor: 50px;
  position: fixed;
  top: calc(var(--size-cursor) / -2);
  left: calc(var(--size-cursor) / -2);
  width: var(--size-cursor);
  height: var(--size-cursor);
  border-radius: 50%;
  box-shadow: 0 0 0 1px white;
  background-color: var(--color-secondary);
  pointer-events: none;
  transition: top 0.15s ease-in-out, left 0.15s ease-in-out, width 0.15s linear,
    height 0.15s linear, background-color 0.15s ease-in-out,
    opacity 0.15s linear, content 0.15s ease-in-out;
  opacity: 0.2;
  z-index: 998;
}

.small-cursor {
  opacity: 1 !important;
  background-color: rgba(0, 0, 0, 0.3) !important;

  &::after {
    content: "🡥";
    color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /*   .cursor-tooltip {
    opacity: 1 !important;
    visibility: visible;
  } */
}

.big-cursor {
  opacity: 1 !important;
  background-color: white !important;
  mix-blend-mode: difference;
}

/* .cursor-tooltip {
  position: relative;
  opacity: 0;
  visibility: hidden;
  bottom: 35px;
  right: 35px;
  transition: opacity 0.15s cubic-bezier(0.57, 0.21, 0.69, 3.25),
    visibility 0.15s cubic-bezier(0.57, 0.21, 0.69, 3.25);

  &::after {
    content: attr(data-tooltip);
    content: "CLICK";
    position: absolute;
    color: black;
    background-color: white;
    padding: 10px;
    font-size: 0.6rem;
    top: -5px;
    transform: translateX(17px);
    border-radius: 20px;
    letter-spacing: 0.2rem;
    border: 1px solid black;
  }
} */
