button:has(.dropdown) {

    &:focus,
    &:active {
        .dropdown {
            transform: translate(0, 20px);
            opacity: 1;
            visibility: visible;
        }
    }
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border-radius: 4px;
    text-align: left;
    opacity: 0;
    visibility: hidden;

    &:before {
        content: '';
        position: absolute;
        top: -6px;
        left: 50%;
        width: 0;
        height: 0;
        box-shadow: 2px -2px 6px rgba(var(--color-black), .05);
        border-top: 6px solid var(--color-grey-5);
        border-right: 6px solid var(--color-grey-5);
        border-bottom: 6px solid transparent;
        border-left: 6px solid transparent;
        transform: rotate(-45deg);
        mix-blend-mode: multiple;
    }

    li {
        @include cubic-bezier;
        text-align: center;
        position: relative;
        background: var(--color-grey-5);
        color: var(--color-white);

        &:hover {
            background: var(--color-secondary);
        }

        &:first-child {
            border-radius: 4px 4px 0 0;
        }

        &:last-child {
            border-radius: 0 0 4px 4px;

            a {
                border-bottom: 0;
            }
        }
    }

    a {
        display: block;
        border-bottom: 1px solid rgba(#000, .05);
        padding: 16px 0;
        color: inherit;
        font-size: 10px;
        text-decoration: none;
    }
}