button:has(.dropdown) {

    &:focus,
    &:active {
        .dropdown {
            transform: translate(0, 20px);
            opacity: 1;
            visibility: visible;
        }
    }
}

.dropdown {
    @include cubic-bezier;
    position: absolute;
    width: 50%;
    top: 50%;
    left: 100%;
    border-radius: 4px;
    text-align: left;
    opacity: 0;
    visibility: hidden;


    li {
        text-align: center;
        position: relative;
        background: var(--color-grey-5);
        color: var(--color-white);

        &:hover {
            background: var(--color-secondary);
        }

        &:first-child {
            border-radius: 0 10px 0 0;
        }

        &:last-child {
            border-radius: 0 0 10px 0px;

            a {
                border-bottom: 0;
            }
        }
    }

    a {
        display: block;
        border-bottom: 1px solid rgba(#000, .05);
        padding: 16px 0;
        color: inherit;
        font-size: 10px;
        text-decoration: none;
    }
}