button:has(.dropdown) {
  &:focus,
  &:active {
    .dropdown {
      transform: translate(0, 20px);
      opacity: 1;
      visibility: visible;
    }
  }
}

.dropdown {
  position: absolute;
  top: 3vh;
  background: #fff;
  border-radius: 4px;
  box-shadow: 1px 2px 15px var(--color-white);
  text-align: left;
  opacity: 0;
  padding: 0 10px;
  visibility: hidden;

  &:before {
    content: "";
    position: absolute;
    top: -6px;
    width: 0;
    height: 0;
    border-top: 6px solid #fff;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    border-left: 6px solid transparent;
    transform: rotate(-45deg);
    mix-blend-mode: multiple;
  }

  li {
    z-index: 1;
    position: relative;
    background: #fff;
    color: #666;

    &:first-child {
      border-radius: 4px 4px 0 0;
    }

    &:last-child {
      border-radius: 0 0 4px 4px;

      a {
        border-bottom: 0;
      }
    }
  }

  a {
    display: block;
    border-bottom: 1px solid rgba(#000, 0.05);
    padding: 16px 0;
    color: inherit;
    font-size: 10px;
    text-decoration: none;
  }
}
