* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  cursor: none;
  scroll-behavior: smooth;
  --br-sm-2: 14px;
  --box-shadow-1: 0 3px 15px rgba(0, 0, 0, 0.3);
  --color-white-2: #fff;
  --color-yellow: #976d0c;
  --font-thin: 100;
  --font-regular: 300;
  --font-medium: 500;
  --font-black: 600;
  --font-heavy: 800;
  --size-button: clamp(0.8vh, 5vw, 3vh);
  --size-game-grid: clamp(2em, 10vw, 5em);
  --text-50: 50px;
  --text-micro: min(5vw, 0.8em);
  --text-small: clamp(1em, 5vw, 1.2em);
  --text-medium: clamp(1.3em, 5vw, 2em);
  --text-big: clamp(1.5em, 5vw, 3em);
  --text-huge: clamp(2em, 5vw, 4em);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #0a0a0a;
    --color-secondary: #f50000;
    --color-white: #fff;
    --color-black: #000;
    --color-black-2: #fff;
    --color-grey-0: #f8f8f8;
    --color-grey-1: #dbe1e8;
    --color-grey-2: #b2becd;
    --color-grey-3: #6c7983;
    --color-grey-4: #454e56;
    --color-grey-5: #2a2e35;
    --color-grey-6: #12181b;
    --color-opposite: #976d0c;

    .icon-theme:before {
      content: "\e901";
    }
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-primary: #fff;
    --color-secondary: #cc0000;
    --color-white: #0a0a0a;
    --color-black: #000;
    --color-black-2: #000;
    --color-grey-0: #f8f8f8;
    --color-grey-1: #6c7983;
    --color-grey-2: #6c7983;
    --color-grey-3: #6c7983;
    --color-grey-4: #b2becd;
    --color-grey-5: #e8e8e8;
    --color-grey-6: #b2becd;
    --color-opposite: #edad19;

    .icon-theme:before {
      content: "\e903";
    }
  }
}

.light-mode {
  --color-primary: #fff;
  --color-secondary: #cc0000;
  --color-white: #0a0a0a;
  --color-black: #000;
  --color-black-2: #000;
  --color-grey-0: #f8f8f8;
  --color-grey-1: #6c7983;
  --color-grey-2: #6c7983;
  --color-grey-3: #6c7983;
  --color-grey-4: #b2becd;
  --color-grey-5: #e8e8e8;
  --color-grey-6: #b2becd;
  --color-opposite: #edad19;

  .icon-theme:before {
    content: "\e903";
  }
}

.dark-mode {
  --color-primary: #0a0a0a;
  --color-secondary: #f50000;
  --color-white: #fff;
  --color-black: #000;
  --color-black-2: #fff;
  --color-grey-0: #f8f8f8;
  --color-grey-1: #dbe1e8;
  --color-grey-2: #b2becd;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #2a2e35;
  --color-grey-6: #12181b;
  --color-opposite: #976d0c;

  .icon-theme:before {
    content: "\e901";
  }
}

body {
  background-color: var(--color-primary);
  font-family: sans-serif;
  font-size: var(--text-small);
  color: var(--color-white);
  transition: all 0.4s ease-in-out;
}

a,
a:hover,
a:visited,
a:active,
a:link {
  text-decoration: none;
}

section {
  min-height: 100vh;
  width: 100%;
  content-visibility: auto;
}

.container {
  display: block;
}

@media screen and (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
    scroll-behavior: auto !important;
  }
}
