* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    cursor: none;
    scroll-behavior: smooth;
    --br-sm-2: 14px;
    --box-shadow-1: 0 3px 15px rgba(0, 0, 0, 0.3);
    --color-white-2: #ffffff;
    --font-thin: 100;
    --font-regular: 300;
    --font-medium: 500;
    --font-black: 600;
    --font-heavy: 800;
    --size-button: clamp(0.8vh, 5vw, 3vh);
    --size-game-grid: clamp(2em, 10vw, 5em);
    --text-50: 50px;
    --text-micro: min(5vw, 0.8rem);
    --text-small: clamp(1rem, 5vw, 1.2rem);
    --text-medium: clamp(0.5em, 5vw, 2em);
    --text-big: clamp(2rem, 5vw, 4rem);
    --text-huge: clamp(3rem, 10vw, 6.3rem);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-primary: #0a0a0a;
        --color-secondary: #339eff;
        --color-white: #ffffff;
        --color-black: #000;
        --color-grey-0: #f8f8f8;
        --color-grey-1: #dbe1e8;
        --color-grey-2: #b2becd;
        --color-grey-3: #6c7983;
        --color-grey-4: #454e56;
        --color-grey-5: #2a2e35;
        --color-grey-6: #12181b;
        --color-opposite: #ff7e33;
        --color-yellow: #fff36d;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --color-primary: #ffffff;
        --color-secondary: #ff7e33;
        --color-white: #454e56;
        --color-black: #000;
        --color-grey-0: #f8f8f8;
        --color-grey-1: #6c7983;
        --color-grey-2: #6c7983;
        --color-grey-3: #6c7983;
        --color-grey-4: #b2becd;
        --color-grey-5: #e8e8e8;
        --color-grey-6: #12181b;
        --color-opposite: #339eff;
    }
}

.light-mode {
    --color-primary: #ffffff;
    --color-secondary: #ff7e33;
    --color-white: #454e56;
    --color-black: #000;
    --color-grey-0: #f8f8f8;
    --color-grey-1: #6c7983;
    --color-grey-2: #6c7983;
    --color-grey-3: #6c7983;
    --color-grey-4: #b2becd;
    --color-grey-5: #e8e8e8;
    --color-grey-6: #12181b;
    --color-opposite: #339eff;
}

.dark-mode {
    --color-primary: #0a0a0a;
    --color-secondary: #339eff;
    --color-white: #ffffff;
    --color-black: #000;
    --color-grey-0: #f8f8f8;
    --color-grey-1: #dbe1e8;
    --color-grey-2: #b2becd;
    --color-grey-3: #6c7983;
    --color-grey-4: #454e56;
    --color-grey-5: #2a2e35;
    --color-grey-6: #12181b;
    --color-opposite: #ff7e33;
    --color-yellow: #fff36d;
}

body {
    background-color: var(--color-primary);
    font-family: "Open Sans", sans-serif;
    font-size: var(--text-small);
    color: var(--color-white);
    transition: all 0.4s ease-in-out;
}

a {
    text-decoration: none;
}

section {
    min-height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 3rem 18rem;
}

.container {
    display: none;
    transform: translateY(-100%) scale(0);
    transition: all 0.4s ease-in-out;
}

.active {
    display: block;
    transform: translateY(0) scaleY(1);
}

@media screen and (prefers-reduced-motion: reduce) {
    * {
        animation: none !important;
        transition: none !important;
        scroll-behavior: auto !important;
    }
}