/* Independent components */
.btn-con {
  @include flex-start;
  color: var(--color-white);
}

.main-btn {
  @include flex-start;
  overflow: hidden;
  border-radius: 30px;
  color: inherit;
  position: relative;
  border: 2px solid var(--color-secondary);
  margin-bottom: 10px;
  height: 48px;

  .btn-text {
    white-space: nowrap;
    font-size: 0.6rem;
    font-weight: var(--font-regular);
    padding: 0 1rem;
  }

  &::before {
    @include cubic-bezier;
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
  }

  &:hover {
    &:before {
      width: 100%;
      background-color: var(--color-secondary);
    }
  }
}

.highlight {
  font-weight: var(--font-heavy);
  color: var(--color-secondary);
}

.different {
  &:link {
    color: var(--color-secondary);
  }

  &:visited {
    color: var(--color-secondary);
  }

  &:hover {
    color: var(--color-secondary);
  }
}

.bold {
  font-weight: var(--font-black);
}

.marker {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0.4rem;
  text-underline-offset: -0.2em;
  text-decoration-color: var(--color-secondary);
  text-decoration-skip-ink: none;
  text-decoration-skip: none;
}

.spotlight {
  text-transform: uppercase;
  font-weight: 800;
  font-size: min(max(3rem, 10vw), 10rem);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: var(--color-grey-1);

  &:before {
    content: attr(data-text);
    position: absolute;
    background: linear-gradient(#f1be48, #222222, #cc0000, #990000, #edad19);
    background-clip: text;
    color: transparent;
    background-size: 100% 90%;
    line-height: 0.9;
    clip-path: ellipse(120px 120px at -2.54% -9.25%);
    animation: swing 5s infinite;
    animation-direction: alternate;
  }

  @keyframes swing {
    0% {
      clip-path: ellipse(120px 120px at -2.54% -9.25%);
    }
    50% {
      clip-path: ellipse(120px 120px at 49.66% 64.36%);
    }
    100% {
      clip-path: ellipse(120px 120px at 102.62% -1.61%);
    }
  }
}

/* Header */
.marquee {
  width: 100%;
  height: 10rem;
  pointer-events: none;
  overflow: hidden;

  &__wrapper {
    height: 100%;
    width: 100%;

    &_content {
      height: 100%;
      width: fit-content;
      align-items: center;
      display: flex;
      position: relative;
      will-change: transform;

      span {
        color: var(--color-white);
        font-weight: 800;
        white-space: nowrap;
        font-size: max(5rem, 10vw);
        line-height: 1.2;
        font-weight: 800;
        text-transform: uppercase;

        &:after {
          content: "🟄";
          padding: 25px;
          color: var(--color-secondary);
        }
      }
    }

    .left {
      animation: marqueeLeft linear infinite;
    }

    .right {
      animation: marqueeRight linear infinite;
    }

    .t100s {
      animation-duration: 100s;
    }

    .t50s {
      animation-duration: 50s;
    }

    .t25s {
      animation-duration: 25s;
    }
  }
}

@keyframes marqueeLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes marqueeRight {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}
