/* Independent components */
.btn-con {
    @include flex-start;
    color: var(--color-white);
}

.main-btn {
    @include flex-start;
    border-radius: 30px;
    color: inherit;
    font-weight: var(--font-regular);
    position: relative;
    border: 1px solid var(--color-secondary);
    overflow: hidden;
    margin-bottom: 10px;

    .btn-text {
        padding: 0 1rem;
    }

    .btn-icon {
        @include flex-center;
        background-color: var(--color-secondary);
        border-radius: 50%;
        padding: 1rem;

        i {
            font-size: var(--text-small);
        }
    }

    &::before {
        @include cubic-bezier;
        content: "";
        position: absolute;
        width: 0;
        height: 100%;
        top: 0;
        right: 0;
        z-index: -1;
    }

    &:hover {
        &:before {
            width: 100%;
            background-color: var(--color-secondary);
        }
    }
}

.highlight {
    font-weight: var(--font-heavy);
    color: var(--color-opposite);
}

.different {
    &:link {
        color: var(--color-secondary);
    }

    &:visited {
        color: var(--color-secondary);
    }

    &:hover {
        color: var(--color-opposite);
    }
}