/* Independent components */
.btn-con {
    display: flex;
    align-self: flex-start;
    color: var(--color-white);
}

.main-btn {
    border-radius: 30px;
    color: inherit;
    font-weight: var(--font-regular);
    position: relative;
    border: 1px solid var(--color-secondary);
    display: flex;
    align-self: flex-start;
    align-items: center;
    overflow: hidden;

    .btn-text {
        padding: 0 2rem;
    }

    .btn-icon {
        background-color: var(--color-secondary);
        width: 5vh;
        height: 5vh;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        padding: 1rem;

        i {
            font-size: var(--text-small);
        }
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(100%);
        transition: all 0.4s ease-out;
        z-index: -1;
    }

    &:hover {
        transition: all 0.4s ease-out;

        &::before {
            width: 100%;
            height: 100%;
            background-color: var(--color-secondary);
            transform: translateX(0);
            transition: all 0.4s ease-out;
        }
    }
}

.highlight {
    font-weight: var(--font-heavy);
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    -webkit-text-decoration-style: solid;
    text-decoration-style: solid;
    text-decoration-thickness: 0.4rem;
    text-underline-offset: -0.2em;
    -webkit-text-decoration-color: var(--color-opposite);
    text-decoration-color: var(--color-opposite);
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
    -webkit-text-decoration-skip: none;
    text-decoration-skip: none;
}

.different {
    &:link {
        color: var(--color-secondary);
    }

    &:visited {
        color: var(--color-secondary);
    }

    &:hover {
        color: var(--color-opposite);
    }
}