.about-container .left-about p {
  padding-left: 0;
}

@media screen and (max-width: 600px) {
  header {
    padding: 0 !important;
  }

  .header-content {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
  }

  .left-header {
    .h-shape {
      display: none;
    }
  }

  .right-header {
    grid-row: 1;
    padding-right: 0rem !important;
    width: 90%;
    margin: 0 auto;

    .name {
      font-size: 2.5rem !important;
      text-align: center;
      padding-top: 3rem;
    }
  }

  .header-content .left-header .image {
    margin: 0 auto;
    width: 90%;
  }

  .controls {
    top: auto;
    bottom: 0;
    flex-direction: row;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: var(--color-grey-5);

    .control {
      margin: max(0, 7%) max(0, 2%);
    }
  }

  .about-container {
    grid-template-columns: repeat(1, 1fr);

    .right-about {
      grid-template-columns: repeat(1, 1fr);
      padding-top: 2.5rem;
    }

    .left-about {
      padding-right: 0;

      p {
        padding-left: 0;
      }
    }
  }

  .page-settings {
    flex-direction: column;

    .theme-btn {
      margin: 7% 2%;
    }

    .translate-btn {
      margin: 7% 2%;

      span {
        font-size: 2.5vh;
      }
    }
  }

  .game-section {
    padding-bottom: 6rem;

    .games {
      .pedra-papel-tesoura {
        .score-board {
          width: 80px;
          height: 300px;

          .score {
            &::before {
              content: "";
              display: inline-block;
              vertical-align: middle;
            }

            span {
              display: block;
              background-color: var(--color-grey-2);
              padding: 10px;
              border-radius: 10px;
            }
          }

          .badge {
            .user-label {
              top: 0%;
              left: 0%;
              transform: translate(-0.23rem, -1.5rem);
            }

            .computer-label {
              top: 100%;
              right: 0%;
              transform: translate(0.4rem, -1rem);
            }
          }
        }

        .result {
          display: none;
        }

        .choices {
          flex-direction: column;
          margin: 0;

          .choice {
            margin: 10px auto;
          }
        }
      }
    }
  }

  .portfolio-content {
    .portfolio-grid {
      .card {
        max-width: 200px;
        align-items: flex-start;

        &:hover {
          height: 600px;

          .content {
            img {
              top: initial;
              bottom: 30px;
              left: 50%;
              transform: translate(-50%, 100%) scale(1);
              height: 300px;
            }
          }
        }

        .content {
          width: 100%;
          left: 0;
          padding: 40px;
        }
      }

      .content {
        width: 100%;
        left: 0;
        padding: 40px;
      }
    }
  }

  .timeline {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
  }

  .container {
    padding: 2rem 2.5rem !important;
  }

  .about-stats {
    .progress-bars {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .contact-content-con {
    flex-direction: column;

    .right-contact {
      margin-left: 0;
      margin-top: 2.5rem;
    }
  }

  .contact-content-con .right-contact .i-c-2 {
    flex-direction: column;
  }

  .contact-content-con .right-contact .i-c-2 :last-child {
    margin-left: 0;
    margin-top: 1.5rem;
  }

  .contact-content-con .right-contact {
    margin-bottom: 6rem;
  }

  .contact-item {
    flex-direction: column;
    margin: 1rem 0;

    p {
      font-size: 15px;
      color: var(--color-grey-2);
    }

    span {
      font-size: 15px;
    }

    .icon {
      grid-template-columns: 25px 1fr;
    }
  }

  #cursor-border {
    display: none;
  }

  #cursor {
    display: none;
  }
}

@media screen and (max-width: 1432px) {
  .container {
    padding: 7rem 11rem;
  }

  .portfolio-content {
    .portfolio-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .contact-content-con {
    flex-direction: column;

    .right-contact {
      margin-left: 0;
      margin-top: 2.5rem;
    }
  }

  .contact-content-con .right-contact .i-c-2 {
    flex-direction: column;
  }

  .contact-content-con .right-contact .i-c-2 :last-child {
    margin-left: 0;
    margin-top: 1.5rem;
  }

  .contact-content-con .right-contact {
    margin-bottom: 6rem;
  }
}

@media screen and (max-width: 1250px) {
  .header-content .right-header {
    padding-right: 9rem;
  }
}

@media screen and (max-width: 1070px) {
  .about-container {
    grid-template-columns: repeat(1, 1fr);

    .right-about {
      padding-top: 2.5rem;
    }
  }
}

@media screen and (max-width: 970px) {
  .container {
    padding: 7rem 6rem;
  }

  .about-container .left-about {
    padding-right: 0rem;
  }

  .header-content {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
  }

  .left-header {
    .h-shape {
      display: none;
    }

    .image {
      width: 90% !important;
      margin: 0 auto !important;
    }
  }

  .right-header {
    grid-row: 1;
    padding-right: 0rem !important;
    width: 90%;
    margin: 0 auto;

    .name {
      font-size: 2.5rem !important;
      text-align: center;
      padding-top: 3rem;
    }
  }

  .portfolio-content {
    .portfolio-grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

@media screen and (max-width: 700px) {
  .container {
    padding: 7rem 3rem;
  }

  .about-stats .progress-bars {
    grid-template-columns: repeat(1, 1fr);
  }

  .about-container .right-about {
    grid-template-columns: repeat(1, 1fr);
  }

  .timeline {
    grid-template-columns: repeat(1, 1fr);
  }
}