/* Page settings */
.page-settings {
    @include flex-center;
    position: fixed;
    flex-direction: row;
    z-index: 10;
    top: 3vw;
    right: 2vw;

    .btn {
        @include flex-center;
        @include ease-in-out;
        width: min(10vw, 80px);
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        margin: 0 4%;
        background-color: var(--color-grey-4);
        border: none;
        box-shadow: var(--box-shadow-1);

        i {
            font-size: var(--size-button);
            color: var(--color-grey-1);
            pointer-events: none;
        }

        &:hover {
            transform: translateY(-3px);
            box-shadow: 0 10px 20px var(--color-white);
        }
    }
}

@media screen and (max-width: 600px) {
    .page-settings {
        flex-direction: column;

        .btn {
            margin: 7% 2%;
        }
    }
}