.arrow-up {
  border-radius: 5px;
  position: fixed;
  bottom: 10px;
  right: 15px;
  padding: 10px 10px 5px 10px;
  background-color: var(--color-grey-4);
  transition: opacity 0.4s ease-in-out;

  .symbol {
    content: "";
    width: 0.5em;
    height: 0.5em;
    border-right: 3px solid var(--color-white);
    border-bottom: 3px solid var(--color-white);
    transform: rotate(225deg);
  }
}
