::-webkit-scrollbar {
    z-index: -1;
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--color-grey-5);
    border: 5px solid var--color-primary;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-grey-3);

    &:hover {
        background-color: var(--color-grey-6);
    }

    &:active {
        border-right-width: 4px;
        border-left-width: 4px;
        background-color: var(--color-grey-6);
    }
}