/* Sidebar */
.sidebar {
  @include flex-center;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: -10px;
  height: 60vh;
  width: 20px;
  border-radius: 20px;
  background-color: var(--color-primary);
  transform: translateY(-50%);
  box-shadow: 0 3px 15px var(--color-white);
  transition: top 0.4s ease-in-out, left 0.4s ease-in-out,
    width 0.4s ease-in-out, height 0.4s ease-in-out, transform 0.4s ease-in-out;

  &.open {
    top: 0;
    left: 0;
    border-radius: 0;
    height: 100%;
    width: 100vw;
    transform: none;
    box-shadow: none;

    .sidebar-toggle {
      left: 0px;
      border-bottom: 1px solid var(--color-grey-6);

      &::before {
        width: 30px;
        transform: translateY(0px) rotate(45deg);
      }

      &::after {
        width: 30px;
        transform: translateY(0px) rotate(-45deg);
        box-shadow: 0 0 0;
      }
    }

    .sidebar-wrapper {
      display: flex;
      flex-direction: column;

      .sidebar-menu {
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr;
        padding: 15px 0;

        .control {
          display: inline;
          margin: 10px 0;
          border: none;
          width: fit-content;
          border-radius: 10px;
          background-color: transparent;
          padding: min(max(7px, 1vw), 10px);

          span {
            color: var(--color-grey-4);
            font-size: max(1.4rem, 2vw);
            font-weight: 800;
            transition: color 0.4s ease-in-out;
          }

          &:hover {
            span {
              color: var(--color-white);
            }
          }
        }

        .active-btn {
          background-color: var(--color-secondary) !important;

          span {
            color: var(--color-white-2);
          }
        }
      }
    }
  }

  &-toggle {
    @include flex-center;
    background-color: var(--color-white);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -10px;
    height: 60px;
    border: 1px solid var(--color-primary);
    border-radius: 0 20px 20px 0;
    padding: 0 19px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 20px;
      height: 2px;
      background-color: var(--color-primary);
      transition: width 0.4s ease-in-out, transform 0.4s ease-in-out,
        box-shadow 0.4s ease-in-out;
    }

    &::before {
      transform: translateY(-8px);
    }

    &::after {
      transform: translateY(8px);
      box-shadow: 0 -8px 0 var(--color-primary);
    }
  }

  .sidebar-wrapper {
    .control {
      display: none;
    }
  }
}
