/* Sidebar */
.sidebar {
  @include flex-center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 0;
  background-color: var(--color-primary);
  z-index: 4;
  transition: width 0.4s cubic-bezier(0.57, 0.21, 0.69, 3.25) 0.4s,
    transform 0.4s cubic-bezier(0.57, 0.21, 0.69, 3.25) 0.4s;

  &.open {
    width: 100vw;
    transform: none;
    box-shadow: none;
    transition: top 0.4s ease-in-out, left 0.4s ease-in-out 0.4s,
      width 0.4s ease-in-out 0.4s, transform 0.4s ease-in-out;

    .sidebar-toggle {
      &::before {
        transform: translateY(0px) rotate(45deg);
      }

      &::after {
        transform: translateY(0px) rotate(-45deg);
        box-shadow: 0 0 0 var(--color-primary);
      }

      &::before,
      &::after {
        opacity: 1;
        width: 30px;
        transition: box-shadow 0.2s ease-in-out 0.4s,
          transform 0.4s cubic-bezier(0.57, 0.21, 0.69, 3.25) 0.8s,
          width 0.4s cubic-bezier(0.57, 0.21, 0.69, 3.25) 1s;
      }
    }

    .sidebar-wrapper {
      visibility: visible;
      opacity: 1;
      transition: opacity 0.4s ease-in-out 0.6s, visibility 0s 0.6s;
    }
  }

  &-toggle {
    @include flex-center;
    background-color: var(--color-opposite);
    position: absolute;
    top: 20px;
    left: 25px;
    height: 60px;
    width: 60px;
    border-radius: 26% 74% 61% 39% / 54% 67% 33% 46%;
    border: none;
    padding: 0 19px;
    animation: blobRadius 10s linear infinite;
    transition: transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 3.25);

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 20px;
      height: 2px;
      background-color: white;
      opacity: 0;
      transition: box-shadow 0.2s cubic-bezier(0.57, 0.21, 0.69, 3.25) 1.2s,
        transform 0.4s cubic-bezier(0.57, 0.21, 0.69, 3.25) 0.4s,
        width 0.4s cubic-bezier(0.57, 0.21, 0.69, 3.25) 0.8s,
        opacity 0.4s cubic-bezier(0.57, 0.21, 0.69, 3.25);
    }

    &:active {
      transform: scale(0.9);
    }

    &::before {
      transform: translateY(-8px);
    }
    &::after {
      transform: translateY(8px);
      box-shadow: 0 -8px 0 white;
    }
  }

  .sidebar-wrapper {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s ease-in-out 0.4s, visibility 0s 0.8s;

    .sidebar-menu {
      display: flex;
      flex-direction: column;
      grid-template-columns: 1fr;
      padding: 15px 0;

      .control {
        display: inline-block;
        margin: 10px 0;
        border: none;
        width: fit-content;
        border-radius: 10px;
        background-color: transparent;
        padding: min(max(7px, 1vw), 10px);

        span {
          color: var(--color-white);
          font-size: max(2rem, 3vmax);
          font-weight: 800;
          opacity: 0.1;
          transition: opacity 0.4s ease-in-out;
        }

        &:hover {
          span {
            opacity: 1;
          }
        }
      }

      .active-btn {
        background-color: var(--color-secondary) !important;

        span {
          color: white;
          opacity: 1;
        }
      }
    }
  }
}

@keyframes blobRadius {
  0%,
  100% {
    border-radius: 26% 74% 61% 39% / 54% 67% 33% 46%;
  }
  10% {
    border-radius: 74% 26% 47% 53% / 68% 46% 54% 32%;
  }
  20% {
    border-radius: 48% 52% 30% 70% / 27% 37% 63% 73%;
  }
  30% {
    border-radius: 73% 27% 57% 43% / 28% 67% 33% 72%;
  }
  40% {
    border-radius: 63% 37% 56% 44% / 25% 28% 72% 75%;
  }
  50% {
    border-radius: 39% 61% 70% 30% / 61% 29% 71% 39%;
  }
  60% {
    border-radius: 27% 73% 29% 71% / 73% 51% 49% 27%;
  }
  70% {
    border-radius: 39% 61% 65% 35% / 74% 65% 35% 26%;
  }
  80% {
    border-radius: 55% 45% 37% 63% / 38% 30% 70% 62%;
  }
  90% {
    border-radius: 25% 75% 70% 30% / 39% 50% 50% 61%;
  }
}

@media (hover: hover) and (pointer: fine) {
  .sidebar {
    &-toggle {
      &:hover {
        transform: scale(1.2);
      }
    }

    &:not(.open) {
      .sidebar-toggle {
        &:hover {
          &::before,
          &::after {
            opacity: 1;
          }
        }
      }
    }
  }
}
