/* Sidebar */
.sidebar {
  @include flex-center;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: -10px;
  height: 100vh;
  width: 0;
  background-color: var(--color-primary);
  transform: translateY(-50%);
  z-index: 4;
  transition: left 0.4s ease-in-out, top 0.4s ease-in-out 0.4s,
    width 0.4s ease-in-out 0.4s, transform 0.4s ease-in-out 0.4s;

  &.open {
    top: 0;
    left: 0;
    border-radius: 0;
    width: 100vw;
    transform: none;
    box-shadow: none;
    transition: top 0.4s ease-in-out, left 0.4s ease-in-out 0.4s,
      width 0.4s ease-in-out 0.4s, transform 0.4s ease-in-out;

    .sidebar-toggle {
      left: -1px;
      border-bottom: 1px solid var(--color-grey-6);

      &::before {
        transform: translateY(0px) rotate(45deg);
      }

      &::after {
        transform: translateY(0px) rotate(-45deg);
        box-shadow: 0 0 0 var(--color-primary);
      }

      &::before,
      &::after {
        width: 30px;
        transition: box-shadow 0.2s ease-in-out 0.4s,
          transform 0.4s ease-in-out 0.8s, width 0.4s ease-in-out 1s;
      }
    }

    .sidebar-wrapper {
      visibility: visible;
      opacity: 1;
      transition: opacity 0.4s ease-in-out 0.6s, visibility 0s 0.6s;
    }
  }

  &-toggle {
    @include flex-center;
    background-color: var(--color-white);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -10px;
    height: 60px;
    border: 1px solid var(--color-primary);
    border-radius: 0 20px 20px 0;
    padding: 0 19px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 20px;
      height: 2px;
      background-color: var(--color-primary);
      transition: box-shadow 0.2s ease-in-out 1.2s,
        transform 0.4s ease-in-out 0.4s, width 0.4s ease-in-out 0.8s;
    }

    &::before {
      transform: translateY(-8px);
    }
    &::after {
      transform: translateY(8px);
      box-shadow: 0 -8px 0 var(--color-primary);
    }
  }

  .sidebar-wrapper {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s ease-in-out 0.4s, visibility 0s 0.8s;

    .sidebar-menu {
      display: flex;
      flex-direction: column;
      grid-template-columns: 1fr;
      padding: 15px 0;

      .control {
        display: inline-block;
        margin: 10px 0;
        border: none;
        width: fit-content;
        border-radius: 10px;
        background-color: transparent;
        padding: min(max(7px, 1vw), 10px);

        span {
          color: var(--color-white);
          font-size: max(2rem, 3vmax);
          font-weight: 800;
          opacity: 0.1;
          transition: opacity 0.4s ease-in-out;
        }

        &:hover {
          span {
            opacity: 1;
          }
        }
      }

      .active-btn {
        background-color: var(--color-secondary) !important;

        span {
          color: white;
          opacity: 1;
        }
      }
    }
  }
}
