/* Import */
@import "header";
@import "include";
@import "sidebar";
@import "cursor";
@import "scrollbar";
@import "scroll-icon";
@import "dropdown";

/* About section */
.blog {
  overflow: hidden;
  padding: 1rem;
}

.blog-container {
  @include flex-center;
  padding-top: 4rem;
  font-family: "Open Sans", sans-serif;

  .settings-wrapper {
    display: grid;
    grid-template-columns: 50px 50px;
    position: absolute;
    top: 4vh;
    left: 50%;
    height: 50px;
    transform: translateX(-50%);
    border: 2px solid var(--color-white);
    border-radius: 50px;
    z-index: 9;

    .setting {
      @include flex-center;
      background-color: transparent;
      font-size: 1.2rem;
      border: none;

      &:first-child {
        font-size: 1.1rem;
        border-right: 2px solid var(--color-white);
      }

      i {
        color: var(--color-white);
      }
    }
  }

  .blog-tag {
    position: absolute;
    display: flex;
    top: 10px;
    right: 0;
    background-color: var(--color-white);
    border: none;
    width: 100px;
    height: 1px;
    font-size: 0.6rem;
    z-index: 10;

    span {
      display: flex;
      justify-content: flex-start;
      color: var(--color-white);
    }
  }

  // MAIN CONTENT
  .grid {
    @include grid;
    align-items: start;
    grid-gap: 6rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-top: calc(4vh);

    &__item {
      background-color: var(--color-grey-6);
      border-radius: 0.4rem;
      overflow: hidden;
      box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
      transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;

      &:hover {
        transform: translateY(-0.5%);
        box-shadow: 0 4rem 8rem var(--color-white);
      }

      .card {
        &__img {
          @include flex-center;

          img {
            object-fit: cover;
            height: 200px;
            max-width: 100%;
          }
        }

        &__content {
          padding: 3rem 3rem;
        }

        &__header {
          font-size: var(--text-medium);
          font-weight: 800;
          color: var(--color-white);
          margin-bottom: 1.5rem;
        }

        &__text {
          font-size: var(--text-micro);
          letter-spacing: 0.1rem;
          line-height: 1.7;
          color: var(--color-grey-2);
          margin-bottom: 2.5rem;
        }

        &__btn {
          display: block;
          width: 100%;
          padding: 1rem;
          font-size: var(--text-small);
          text-align: center;
          color: var(--color-white);
          background-color: var(--color-primary);
          border: none;
          border-radius: 0.4rem;
          transition: margin-left 0.4s ease-in-out,
            background-color 0.4s ease-in-out;

          &:hover,
          &:active {
            background-color: var(--color-opposite);

            span {
              margin-left: 1.5rem;
            }
          }
        }
      }
    }
  }
}
