/* Import */
@import "header";
@import "include";
@import "page-settings";
@import "cursor";
@import "icons";
@import "tooltip";
@import "scrollbar";
@import "scroll-icon";
@import "dropdown";

/* Blog post */
.blog-post {
    @include flex-center;
    overflow: hidden;
    padding: 0;
}

.blog-post-container {
    @include inline-block;
    padding-bottom: 8rem;

    .header {
        @include flex-center;
        padding-bottom: 2em;

        img {
            object-fit: cover;
            max-height: 700px;
            max-width: 100%;
            filter: brightness(0.5);
        }

        h2 {
            font-family: "Open Sans", sans-serif;
            position: absolute;
            text-align: center;
            color: var(--color-grey-0);
            font-size: var(--text-big);
        }
    }

    .tags {
        position: absolute;
        padding-left: 6%;
        font-weight: var(--font-heavy);
        text-transform: uppercase;

        .blog-date-post {
            @include inline-block;
            font-family: "Open Sans", sans-serif;
            font-weight: var(--font-heavy);
            padding: 0.2rem 0.6rem;
            background-color: var(--color-grey-5);
            border-radius: 15px;
            font-size: var(--text-micro);
            color: var(--color-white);
        }

        .blog-tag {
            @include inline-block;
            font-family: "Open Sans", sans-serif;
            font-weight: var(--font-heavy);
            padding: 0.2rem 0.6rem;
            background-color: var(--color-opposite);
            border-radius: 15px;
            font-size: var(--text-micro);
            color: var(--color-white);
        }
    }

    .content {
        padding: 4% 30%;

        .image {
            @include grid;
            place-items: center;
            padding-bottom: 2em;

            img {
                @include inline-block;
                text-align: center;
                width: 100%;
            }

            span {
                @include inline-block;
                color: var(--color-grey-2);
                font-size: var(--text-micro);
            }
        }

        p {
            font-family: "Raleway", sans-serif;
            font-weight: var(--font-thin);
            padding-bottom: 2em;
            color: var(--color-white);

            .first-letter {
                color: var(--color-opposite);
                font-size: var(--text-huge);
                padding: 0 .3rem;
                margin: 0 .3rem 0 0;
                border: 2px solid;
                border-radius: 8px;
                float: left;
            }

            .bold {
                font-weight: var(--font-black);
            }

            .marker {
                text-decoration-line: underline;
                text-decoration-style: solid;
                text-decoration-thickness: 0.4rem;
                text-underline-offset: -0.2em;
                text-decoration-color: var(--color-opposite);
                text-decoration-skip-ink: none;
                text-decoration-skip: none;
            }
        }

        h3 {
            font-family: "Raleway", sans-serif;
            padding: 1em 0 1em 0;
        }

        a {
            &:link {
                color: var(--color-secondary);
            }

            &:visited {
                color: var(--color-secondary);
            }

            &:hover {
                color: var(--color-opposite);
            }
        }

        .quote {
            margin-bottom: 2em;
            background: var(--color-grey-4);
            padding: 0.5em;
            padding-bottom: 1em;
            border-radius: 1em;

            ficaption,
            blockquote {
                margin: 1em;
            }
        }

        .numbered-list {
            counter-reset: li;
            list-style-type: none;
            line-height: 18px;
            padding-left: 10px;

            li {
                font-family: "Raleway", sans-serif;
                position: relative;
                padding: 5px 0 5px 30px;

                &:before {
                    font-weight: 600;
                    content: counter(li);
                    counter-increment: li;
                    height: 20px;
                    width: 20px;
                    background-color: var(--color-white);
                    border-radius: 50%;
                    color: var(--color-primary);
                    text-align: center;
                    position: absolute;
                    left: 0;
                    top: 4px;
                }
            }
        }
    }
}

@media screen and (max-width: 970px) {
    .blog-post-container {
        .content {
            padding: 2rem 10%;
        }
    }
}

/* Fonts */
@font-face {
    font-family: "Raleway";
    src: url("../fonts/raleway-100.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "Raleway";
    src: url("../fonts/raleway-600.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: block;
}