* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    cursor: none;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-primary: #0a0a0a;
        --color-secondary: #339eff;
        --color-white: #ffffff;
        --color-black: #000;
        --color-grey-0: #f8f8f8;
        --color-grey-1: #dbe1e8;
        --color-grey-2: #b2becd;
        --color-grey-3: #6c7983;
        --color-grey-4: #454e56;
        --color-grey-5: #2a2e35;
        --color-grey-6: #12181b;
        --color-opposite: #ff7e33;
        --color-yellow: #fff36d;
        /* Style variables */
        --br-sm-2: 14px;
        --box-shadow-1: 0 3px 15px rgba(0, 0, 0, 0.3);
        --font-thin: 100;
        --font-regular: 300;
        --font-medium: 500;
        --font-black: 600;
        --font-heavy: 800;
        --size-button: clamp(0.8vh, 5vw, 3vh);
        --size-game-grid: clamp(2em, 10vw, 5em);
        --text-50: 50px;
        --text-micro: 0.8rem;
        --text-small: clamp(0.5rem, 5vw, 1.2rem);
        --text-medium: clamp(0.5em, 5vw, 2em);
        --text-big: clamp(2rem, 10vw, 4rem);
        --text-huge: clamp(3rem, 10vw, 6.3rem);
    }

    .light-mode {
        --color-primary: #ffffff;
        --color-secondary: #ff7e33;
        --color-white: #454e56;
        --color-black: #000;
        --color-grey-0: #f8f8f8;
        --color-grey-1: #6c7983;
        --color-grey-2: #6c7983;
        --color-grey-3: #6c7983;
        --color-grey-4: #b2becd;
        --color-grey-5: #e8e8e8;
        --color-grey-6: #12181b;
        --color-opposite: #339eff;
    }
}

body {
    background-color: var(--color-primary);
    font-size: var(--text-small);
    color: var(--color-white);
    transition: all 0.4s ease-in-out;
}

a {
    text-decoration: none;
}

section {
    min-height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 3rem 18rem;
}

.container {
    display: none;
    transform: translateY(-100%) scale(0);
    transition: all 0.4s ease-in-out;
}

.active {
    display: block;
    transform: translateY(0) scaleY(1);
}

.blog {
    overflow: hidden;
}

.blog-post {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

/* Toggle buttons for settings */
.page-settings {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 10;
    top: 3vw;
    right: 2vw;

    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: clamp(3em, 10vw, 6em);
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        margin: 0 4%;
        background-color: var(--color-grey-4);
        box-shadow: var(--box-shadow-1);
        -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        -ms-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;

        i {
            font-size: var(--size-button);
            color: var(--color-grey-1);
            pointer-events: none;
        }

        &:hover {
            background-color: var(--color-white);
            transform: translateY(-3px);
            -webkit-transition: all 0.3s ease-in;
            -moz-transition: all 0.3s ease-in;
            -o-transition: all 0.3s ease-in;
            -ms-transition: all 0.3s ease-in;
            transition: all 0.3s ease-in;
            box-shadow: 0 10px 20px var(--color-opposite);

            i {
                color: var(--color-opposite);
            }
        }
    }
}

/* About section */
.blog-container {
    padding-top: 8rem;
    font-family: "Open Sans", sans-serif;

    .swiper-container {
        .swiper-wrapper {
            .swiper-slide {
                display: flex;
                justify-content: center;
                align-items: center;
                filter: blur(4px);

                .blog-item {
                    position: absolute;
                    padding: 3rem;

                    .blog-header {
                        font-weight: var(--font-heavy);
                        text-transform: uppercase;

                        .blog-date-post {
                            padding: 0.2rem 0.6rem;
                            background-color: var(--color-grey-5);
                            border-radius: 15px;
                            display: inline-block;
                            font-size: var(--text-micro);
                            color: var(--color-white);
                        }

                        .blog-tag {
                            padding: 0.2rem 0.6rem;
                            background-color: var(--color-opposite);
                            border-radius: 15px;
                            display: inline-block;
                            font-size: var(--text-micro);
                            color: var(--color-white);
                        }
                    }

                    h5 {
                        padding: 1rem 0;
                        text-transform: uppercase;
                        font-size: max(1em, 5vw);
                        font-weight: var(--font-heavy);
                        color: var(--color-grey-0);
                    }

                    p {
                        visibility: none;
                        opacity: 0;
                        font-size: var(--text-small);
                        color: var(--color-grey-0);
                    }

                    a {
                        visibility: none;
                        opacity: 0;
                        position: relative;
                        color: var(--color-white);
                        background-color: var(--color-primary);
                        padding: 10px 20px;
                        border-radius: 10px;
                        margin-top: clamp(0.5em, 2.5vw, 1em);
                        display: inline-block;
                    }
                }

                .card-image {
                    z-index: -1;
                    min-width: 200px;
                    overflow: hidden;
                    box-shadow: var(--box-shadow-1);
                    border-radius: 50px;

                    img {
                        display: block;
                        position: relative;
                        left: 0;
                        bottom: 0;
                        width: 100%;
                        height: 55vh;
                        object-fit: cover;
                    }
                }
            }

            .swiper-slide-active {
                filter: blur(0px);
                transition: all 0.4s ease-in-out;

                .blog-item {
                    p {
                        visibility: visible;
                        opacity: 1;
                    }

                    a {
                        visibility: visible;
                        opacity: 1;
                    }
                }

                .card-image {
                    transition: all 0.4s ease-in-out;
                    filter: brightness(0.5);
                }
            }
        }

        .swiper-button-next,
        .swiper-button-prev {
            padding-top: 5rem;
            color: var(--color-primary);
        }
    }
}

.blog-post-container {
    display: inline-block;
    padding-bottom: 8rem;

    .header {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            object-fit: cover;
            min-height: 500px;
            max-height: 700px;
            width: 100%;
            filter: brightness(0.5);
        }

        h2 {
            font-family: "Open Sans", sans-serif;
            position: absolute;
            text-align: center;
            color: var(--color-grey-0);
            font-size: var(--text-big);
        }
    }

    .content {
        padding: 4% 30%;

        .tags {
            position: absolute;
            padding-top: 3rem;
            font-weight: var(--font-heavy);
            text-transform: uppercase;


            .blog-date-post {
                font-family: "Open Sans", sans-serif;
                font-weight: var(--font-heavy);
                padding: 0.2rem 0.6rem;
                background-color: var(--color-grey-5);
                border-radius: 15px;
                display: inline-block;
                font-size: var(--text-micro);
                color: var(--color-white);
            }

            .blog-tag {
                font-family: "Open Sans", sans-serif;
                font-weight: var(--font-heavy);
                padding: 0.2rem 0.6rem;
                background-color: var(--color-opposite);
                border-radius: 15px;
                display: inline-block;
                font-size: var(--text-micro);
                color: var(--color-white);
            }
        }

        .image {
            display: grid;
            place-items: center;

            img {
                display: inline-block;
                text-align: center;
            }

            span {
                display: inline-block;
                color: var(--color-grey-2);
                font-size: var(--text-micro);
            }
        }

        p {
            font-family: "Raleway", sans-serif;
            font-weight: var(--font-thin);
            padding-top: 2em;
            color: var(--color-white);

            .first-letter {
                color: var(--color-opposite);
                font-size: var(--text-huge);
                padding: 0 .3rem;
                margin: 0 .3rem 0 0;
                border: 2px solid;
                border-radius: 8px;
                float: left;
            }

            .bold {
                font-weight: var(--font-black);
            }

            .marker {
                text-decoration-line: underline;
                text-decoration-style: solid;
                text-decoration-thickness: 0.4rem;
                text-underline-offset: -0.2em;
                text-decoration-color: var(--color-opposite);
                text-decoration-skip-ink: none;
                /* works in Firefox & Chrome, not in Safari */
                text-decoration-skip: none;
                /* works in Safari, not in Firefox & Chrome */
            }
        }

        h3 {
            font-family: "Raleway", sans-serif;
            padding: 2em 0 1em 0;
        }

        ul.numbered-list {
            counter-reset: li;
            list-style-type: none;
            line-height: 18px;
            padding-left: 10px;
            display: center;
            justify-content: center;
            align-items: center;

            li {
                font-family: "Raleway", sans-serif;
                position: relative;
                padding: 5px 0 5px 30px;

                &:before {
                    font-weight: 600;
                    content: counter(li);
                    counter-increment: li;
                    height: 20px;
                    width: 20px;
                    background-color: var(--color-white);
                    border-radius: 50%;
                    color: var(--color-primary);
                    text-align: center;
                    position: absolute;
                    left: 0;
                    top: 4px;
                }
            }
        }
    }
}


/* Main title */
.main-title {
    text-align: center;
    font-family: "Open Sans", sans-serif;

    h2 {
        position: relative;
        text-transform: uppercase;
        font-size: var(--text-big);
        font-weight: var(--font-heavy);

        span {
            color: var(--color-secondary);
        }

        .bg-text {
            position: absolute;
            top: 50%;
            left: 50%;
            color: var(--color-grey-5);
            transition: all 0.4s ease-in-out;
            z-index: -1;
            transform: translate(-50%, -50%);
            font-weight: var(--font-heavy);
            font-size: var(--text-huge);
        }
    }
}

/* Custom cursor */
#cursor {
    position: fixed;
    top: -5px;
    left: -5px;
    width: 10px;
    height: 10px;
    background-color: var(--color-white);
    border-radius: 50%;
    pointer-events: none;
    z-index: 999;
}

.small-cursor {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    opacity: 0.5;
}

.big-cursor {
    background-color: var(--color-grey-0);
    border-color: var(--color-grey-0);
    mix-blend-mode: difference;
}

#cursor-border {
    --size-cursor: 50px;
    position: fixed;
    top: calc(var(--size-cursor) / -2);
    left: calc(var(--size-cursor) / -2);
    width: var(--size-cursor);
    height: var(--size-cursor);
    border-radius: 50%;
    box-shadow: 0 0 0 1px var(--color-white);
    pointer-events: none;
    transition: top 0.15s ease-out, left 0.15s ease-out, width 0.15s ease-out,
        height 0.15s ease-out, background-color 0.15s ease-out;
    z-index: 999;
}

@media screen and (max-width: 970px) {
    .blog {
        padding: 5rem 6rem;
    }

    .blog-post-container {
        .content {
            padding: 2rem 10%;
        }
    }
}

@media screen and (max-width: 600px) {
    .blog {
        padding: 2rem 2.5rem !important;
    }

    .page-settings {
        flex-direction: column;

        .btn {
            margin: 7% 2%;
        }
    }

    #cursor {
        display: none;
    }

    #cursor-border {
        display: none;
    }
}

/* Imports */
@font-face {
    font-family: "Raleway";
    src: url("../fonts/raleway-100.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "Raleway";
    src: url("../fonts/raleway-600.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: block;
}

@import "icons";