.blog {
    overflow: hidden;
}

/* About section */
.blog-container {
    padding-top: 8rem;
    font-family: "Open Sans", sans-serif;

    .swiper-container {
        .swiper-wrapper {
            .swiper-slide {
                display: flex;
                justify-content: center;
                align-items: center;
                filter: blur(4px);

                .blog-item {
                    position: absolute;
                    padding: 3rem;

                    .blog-header {
                        font-weight: var(--font-heavy);
                        text-transform: uppercase;

                        .blog-date-post {
                            padding: 0.2rem 0.6rem;
                            background-color: var(--color-grey-5);
                            border-radius: 15px;
                            display: inline-block;
                            font-size: var(--text-micro);
                            color: var(--color-white);
                        }

                        .blog-tag {
                            padding: 0.2rem 0.6rem;
                            background-color: var(--color-opposite);
                            border-radius: 15px;
                            display: inline-block;
                            font-size: var(--text-micro);
                            color: var(--color-white);
                        }
                    }

                    h5 {
                        padding: 1rem 0;
                        text-transform: uppercase;
                        font-size: var(--text-big);
                        font-weight: var(--font-heavy);
                        color: var(--color-grey-0);
                    }

                    p {
                        visibility: none;
                        opacity: 0;
                        font-size: var(--text-small);
                        color: var(--color-grey-0);
                    }

                    a {
                        visibility: none;
                        opacity: 0;
                        position: relative;
                        color: var(--color-white);
                        background-color: var(--color-primary);
                        padding: 10px 20px;
                        border-radius: 10px;
                        margin-top: clamp(0.5em, 2.5vw, 1em);
                        display: inline-block;
                    }
                }

                .card-image {
                    z-index: -1;
                    min-width: 200px;
                    overflow: hidden;
                    box-shadow: var(--box-shadow-1);
                    border-radius: 50px;

                    img {
                        display: block;
                        position: relative;
                        left: 0;
                        bottom: 0;
                        width: 100%;
                        height: 55vh;
                        object-fit: cover;
                    }
                }
            }

            .swiper-slide-active {
                filter: blur(0px);
                transition: all 0.4s ease-in-out;

                .blog-item {
                    p {
                        visibility: visible;
                        opacity: 1;
                    }

                    a {
                        visibility: visible;
                        opacity: 1;
                    }
                }

                .card-image {
                    transition: all 0.4s ease-in-out;
                    filter: brightness(0.5);
                }
            }
        }

        .swiper-button-next,
        .swiper-button-prev {
            padding-top: 5rem;
            color: var(--color-primary);
        }
    }
}

/* Main title */
.main-title {
    text-align: center;
    font-family: "Open Sans", sans-serif;

    h2 {
        position: relative;
        text-transform: uppercase;
        font-size: var(--text-big);
        font-weight: var(--font-heavy);

        span {
            color: var(--color-secondary);
        }

        .bg-text {
            position: absolute;
            top: 50%;
            left: 50%;
            color: var(--color-grey-5);
            transition: all 0.4s ease-in-out;
            z-index: -1;
            transform: translate(-50%, -50%);
            font-weight: var(--font-heavy);
            font-size: var(--text-huge);
        }
    }
}

@media screen and (max-width: 970px) {
    .blog {
        padding: 5rem 6rem;
    }

    .blog-post-container {
        .content {
            padding: 2rem 10%;
        }
    }
}

@media screen and (max-width: 600px) {
    .blog {
        padding: 2rem 2.5rem !important;
    }
}

/* Import */
@import "header";
@import "page-settings";
@import "cursor";
@import "icons";