* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    cursor: none;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-primary: #0a0a0a;
        --color-secondary: #339eff;
        --color-white: #ffffff;
        --color-black: #000;
        --color-grey0: #f8f8f8;
        --color-grey-1: #dbe1e8;
        --color-grey-2: #b2becd;
        --color-grey-3: #6c7983;
        --color-grey-4: #454e56;
        --color-grey-5: #2a2e35;
        --color-grey-6: #12181b;
        --color-opposite: #ff7e33;
        --color-yellow: #fff36d;
        /* Style variables */
        --br-sm-2: 14px;
        --box-shadow-1: 0 3px 15px rgba(0, 0, 0, 0.3);
        --font-regular: 300;
        --font-medium: 500;
        --font-heavy: 800;
        --size-button: clamp(0.8vh, 5vw, 3vh);
        --size-game-grid: clamp(2em, 10vw, 5em);
        --text-50: 50px;
        --text-micro: 0.8rem;
        --text-small: clamp(0.5rem, 5vw, 1.2rem);
        --text-medium: clamp(0.5em, 5vw, 2em);
        --text-big: clamp(2rem, 10vw, 4rem);
        --text-huge: clamp(3rem, 10vw, 6.3rem);
    }

    .light-mode {
        --color-primary: #ffffff;
        --color-secondary: #ff7e33;
        --color-white: #454e56;
        --color-black: #000;
        --color-grey0: #f8f8f8;
        --color-grey-1: #6c7983;
        --color-grey-2: #6c7983;
        --color-grey-3: #6c7983;
        --color-grey-4: #b2becd;
        --color-grey-5: #e8e8e8;
        --color-grey-6: #12181b;
        --color-opposite: #339eff;
    }
}

body {
    background-color: var(--color-primary);
    font-family: "Open Sans", sans-serif;
    font-size: var(--text-small);
    color: var(--color-white);
    transition: all 0.4s ease-in-out;
}

a {
    text-decoration: none;
}

header {
    min-height: 100vh;
    overflow: hidden;
    padding: 0 !important;
}

section {
    min-height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 3rem 18rem;
}

.container {
    display: none;
    transform: translateY(-100%) scale(0);
    transition: all 0.4s ease-in-out;
    background-color: var(--color-primary);
}

.active {
    display: block;
    transform: translateY(0) scaleY(1);
}

.blog {
    overflow: hidden;
}

/* Toggle buttons for settings */
.page-settings {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 10;
    top: 3vw;
    right: 2vw;

    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: clamp(3em, 10vw, 6em);
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        margin: 0 4%;
        background-color: var(--color-grey-4);
        box-shadow: var(--box-shadow-1);
        -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        -ms-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;

        i {
            font-size: var(--size-button);
            color: var(--color-grey-1);
            pointer-events: none;
        }

        &:hover {
            background-color: var(--color-white);
            transform: translateY(-3px);
            -webkit-transition: all 0.3s ease-in;
            -moz-transition: all 0.3s ease-in;
            -o-transition: all 0.3s ease-in;
            -ms-transition: all 0.3s ease-in;
            transition: all 0.3s ease-in;
            box-shadow: 0 10px 20px var(--color-opposite);

            i {
                color: var(--color-opposite);
            }
        }
    }
}

/* About section */
.blog-container {
    padding-top: 8rem;

    .swiper-container {
        .swiper-wrapper {
            .swiper-slide {
                .card-image {
                    background: var(--color-white);
                    border: none;
                    outline: none;
                    box-shadow: var(--box-shadow-1);
                    border-radius: 100px;
                    overflow: hidden;

                    img {
                        display: block;
                        position: relative;
                        left: 0;
                        bottom: 0;
                        width: 100%;
                        height: 55vh;
                        object-fit: cover;
                    }
                }
            }
        }

        .swiper-button-next,
        .swiper-button-prev {
            padding-top: 5rem;
            color: var(--color-primary);
        }
    }
}

.main-title {
    text-align: center;

    h2 {
        position: relative;
        text-transform: uppercase;
        font-size: var(--text-big);
        font-weight: var(--font-heavy);

        span {
            color: var(--color-secondary);
        }

        .bg-text {
            position: absolute;
            top: 50%;
            left: 50%;
            color: var(--color-grey-5);
            transition: all 0.4s ease-in-out;
            z-index: -1;
            transform: translate(-50%, -50%);
            font-weight: var(--font-heavy);
            font-size: var(--text-huge);
        }
    }
}

/* Highlight for text */
span.highlight {
    color: var(--color-secondary);
    font-weight: var(--font-heavy);
}

/* Customizing links */
a.different:link {
    color: var(--color-secondary);
}

a.different:visited {
    color: var(--color-secondary);
}

a.different:hover {
    color: var(--color-opposite);
}

/* Custom cursor */
#cursor {
    position: fixed;
    top: -5px;
    left: -5px;
    width: 10px;
    height: 10px;
    background-color: var(--color-opposite);
    border-radius: 50%;
    pointer-events: none;
    z-index: 999;
}

#cursor-border {
    --size-cursor: 50px;
    position: fixed;
    top: calc(var(--size-cursor) / -2);
    left: calc(var(--size-cursor) / -2);
    width: var(--size-cursor);
    height: var(--size-cursor);
    border-radius: 50%;
    pointer-events: none;
    transition: top 0.15s ease-out, left 0.15s ease-out, width 0.15s ease-out,
        height 0.15s ease-out, background-color 0.15s ease-out;
    z-index: 999;
}

@media screen and (max-width: 970px) {
    .container {
        padding: 5rem 6rem;
    }
}

@media screen and (max-width: 600px) {
    .container {
        padding: 2rem 2.5rem !important;
    }

    #cursor {
        display: none;
    }

    #cursor-border {
        display: none;
    }
}

/* Imports */
@import "icons";