/* Imports */
@import "header";
@import "include";
@import "sidebar";
@import "cursor";
@import "icons";
@import "independent-components";
@import "scrollbar";
@import "scroll-icon";
@import "dropdown";

/* Header */
.header-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;

  .left-header {
    display: flex;
    align-items: center;
    position: relative;

    .h-shape {
      width: 65%;
      height: 100%;
      background-color: var(--color-secondary);
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      -webkit-clip-path: polygon(0 0, 46% 0, 79% 100%, 0 100%);
      clip-path: polygon(0 0, 46% 0, 79% 100%, 0 100%);
    }

    .image {
      border-radius: var(--br-sm-2);
      height: 90%;
      width: 68%;
      margin-left: 4rem;
      background-color: var(--color-black);
      overflow: hidden;

      img {
        @include ease-in-out;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        filter: grayscale(100%);

        &:hover {
          filter: grayscale(0);
        }
      }
    }
  }

  .right-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 18rem;

    .header-text {
      display: inline-block;
      margin: 1.5rem 0;
      line-height: 2rem;
      font-weight: var(--font-thin);
      text-align: justify
    }

    .header-text-mobile {
      margin: 1.5rem 0;
      line-height: 2rem;
      font-weight: var(--font-thin);
      display: none;
      text-align: justify
    }

    .mobile-img {
      display: none;
      text-align: center;
      padding-bottom: .5rem;

      ul {
        list-style-type: none;
        max-width: 100%;
        border-radius: 10px;
        background-color: var(--color-secondary);
      }

      label {
        padding: 3px;
        border-radius: 5px;
        color: var(--color-primary);
        font-size: var(--text-medium);

        span {
          font-size: var(--text-small);
          font-weight: var(--font-heavy);
        }
      }

      li {
        margin: 10px;
        padding: 5px;

        .image {
          @include flex-center;

          img {
            @include ease-in-out;
            max-width: 100%;
            object-fit: cover;
            filter: grayscale(100%);

            &:hover {
              filter: grayscale(0);
            }
          }
        }
      }

      input[type=checkbox] {
        display: none
      }

      input[type=checkbox]:checked~ul {
        max-height: 100%;
        max-width: 100%;
        opacity: 1;
      }

      input[type=checkbox]~ul {
        @include ease-in-out;
        max-height: 0;
        max-width: 0;
        opacity: 0;
        overflow: hidden;
        white-space: nowrap
      }
    }

    .name {
      font-size: var(--text-big);

      span {
        color: var(--color-secondary);
        -webkit-animation: 4s linear infinite color-animation;
        animation: 4s linear infinite color-animation;
      }

      .caret {
        display: inline-block;
        animation: blink 1s infinite;
      }
    }

    .header-btns {
      display: inline-flex;
      flex-wrap: wrap;
      gap: 5px;
    }
  }
}

@keyframes color-animation {

  0%,
  100%,
  49% {
    color: var(--color-secondary);
  }

  50%,
  99% {
    color: var(--color-opposite);
  }
}


@keyframes blink {
  0% {
    color: inherit;
  }

  49% {
    color: inherit;
  }

  50% {
    color: transparent;
  }

  99% {
    color: transparent;
  }

  100% {
    color: inherit;
  }
}

/* About */
/* .about-container {
  @include grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 2rem;
  padding-top: 3.5rem;
  padding-bottom: 5rem;

  .right-about {
    @include grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 2rem;

    .about-item {
      border: 1px solid var(--color-grey-5);
      border-radius: 5px;
      box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
      @include ease-in-out;

      &:hover {
        transform: translateY(-5px);
        border: 1px solid var(--color-secondary);
        box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.32);
      }

      .abt-text {
        @include flex;
        padding: 1.5rem;
        flex-direction: column;

        .large-text {
          font-size: var(--text-big);
          font-weight: var(--font-heavy);
          color: var(--color-secondary);
        }

        .small-text {
          padding-left: 3rem;
          position: relative;
          text-transform: uppercase;
          font-size: var(--text-small);
          color: var(--color-grey-1);
          letter-spacing: 2px;

          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 15px;
            width: 2rem;
            height: 2px;
            background-color: var(--color-grey-5);
          }
        }
      }
    }
  }

  .left-about {
    font-weight: var(--font-thin);

    p {
      text-align: justify;
      font-weight: var(--font-thin);
      line-height: 2rem;
      padding: 1rem;
      color: var(--color-grey-1);
    }

    h4 {
      font-size: var(--text-medium);
      font-weight: var(--font-medium);
      text-transform: uppercase;
    }
  }
}

.about-stats {
  padding-bottom: 4rem;

  .progress-bars {
    @include grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 2rem;

    .progress-bar {
      @include flex;
      flex-direction: column;

      .prog-title {
        text-transform: uppercase;
        font-weight: var(--font-medium);
      }

      .progress-con {
        @include flex-center;

        .prog-text {
          color: var(--color-grey-2);
        }

        .progress {
          width: 100%;
          height: 0.45rem;
          background-color: var(--color-grey-4);
          margin-left: 1rem;
          position: relative;

          span {
            @include ease-in-out;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            background-color: var(--color-secondary);
            width: 60%;
          }

          .transdig {
            width: 95%;
          }

          .engmec {
            width: 95%;
          }

          .dash {
            width: 90%;
          }

          .webdev {
            width: 80%;
          }

          .datasci {
            width: 80%;
          }

          .iden {
            width: 65%;
          }

          .lean {
            width: 80%;
          }

          .info {
            width: 100%;
          }

          .pt {
            width: 100%;
          }

          .en {
            width: 100%;
          }

          .es {
            width: 75%;
          }

          .fr {
            width: 40%;
          }
        }
      }
    }
  }
}

.stat-title {
  text-transform: uppercase;
  font-size: var(--text-small);
  text-align: center;
  padding: 3.5rem 0;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 40%;
    height: 1px;
    background-color: var(--color-grey-5);
    transform: translateX(-50%);
  }
}

.timeline-text {
  @include grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  justify-items: center;

  p {
    text-align: center;
    width: min(700px, 100%);
    color: var(--color-grey-2);

  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
  }
} */

/* Timeline */
/* .timeline {
  @include grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  grid-gap: 2rem;
  padding-left: 1rem;
  padding-bottom: 1rem;

  .timeline-item {
    position: relative;
    padding-left: 2rem;
    border-left: 1px solid var(--color-grey-5);

    .tl-icon {
      @include flex-center;
      position: absolute;
      left: -20px;
      top: 0;
      background-color: var(--color-secondary);
      width: 40px;
      height: 40px;
      border-radius: 50%;

      i {
        font-size: 1rem;
      }
    }

    .tl-header {
      font-weight: var(--font-heavy);
      text-transform: uppercase;

      .tl-duration {
        padding: 0.2rem 0.6rem;
        background-color: var(--color-grey-5);
        border-radius: 15px;
        display: inline-block;
        font-size: var(--text-micro);
        color: var(--color-white);
      }

      .tl-company {
        padding: 0.2rem 0.6rem;
        background-color: var(--color-opposite);
        border-radius: 15px;
        display: inline-block;
        font-size: var(--text-micro);
        color: var(--color-white);
      }
    }

    h5 {
      text-transform: uppercase;
      font-size: var(--text-medium);
      font-weight: var(--font-heavy);
    }

    p {
      text-align: justify;
      color: var(--color-grey-2);
      font-size: var(--text-small);
    }
  }
} */

/* Portfolio section */
.portfolio-content {
  padding-top: 4rem;

  .portfolio-item {
    @include grid;
    @include ease-in-out;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    max-height: 100vh;
    border-radius: 10px;
    background: var(--color-primary);
    box-shadow: var(--box-shadow-1);
    margin-bottom: 3rem;

    .portfolio-title {
      @include flex-center;
      padding-top: 1rem;

      h2 {
        text-align: center;
        text-transform: uppercase;
        font-size: var(--text-big);
        font-weight: var(--font-heavy);
      }
    }

    .portfolio-image {
      @include flex-center;
      margin: 1rem;

      img {
        max-height: 250px;
        width: min(350px, 100%);
      }
    }

    .portfolio-text {
      @include flex-center;
      margin-top: 1rem;
      margin-bottom: 2rem;

      .text-container {
        width: min(800px, 70%);
        text-align: justify;

        .text {
          @include inline-block;
          color: var(--color-grey-1);
          font-size: var(--text-small);
        }

        .text-mobile {
          display: none;
          color: var(--color-grey-1);
          font-size: var(--text-small);
        }

        .link {
          @include inline-block;
          position: relative;
          color: var(--color-primary);
          background-color: var(--color-white);
          padding: 10px 20px;
          border-radius: 10px;
          margin-top: 1rem;
        }
      }
    }

    &:hover {
      @include ease-in-out;
      transform: translateY(-3px);
      box-shadow: 0 10px 20px var(--color-secondary);
    }
  }
}

/* Contact section */
.contact-content-con {
  @include flex;
  padding-top: 3.5rem;

  .left-contact {
    flex: 2;

    h4 {
      margin-top: 1rem;
      font-size: var(--text-medium);
      text-transform: uppercase;
    }

    p {
      font-weight: var(--font-regular);
      color: var(--color-grey-1);
      margin: 1rem 0;
      line-height: 2rem;
    }

    .contact-info {
      .contact-item {
        @include flex-space-between;
        background-color: var(--color-white);
        margin: 10px;
        padding-right: 10px;
        border-radius: 20px;

        p {
          color: var(--color-grey-4);
          font-weight: var(--font-regular);
          font-size: var(--text-small);
          margin: 0.3rem 0 !important;
          padding: 0 !important;
        }

        .icon {
          @include flex-center;
          border-radius: 20px;
          padding: 5px;
          padding-right: 10px;
          background-color: var(--color-grey-1);
          color: var(--color-primary);
          font-weight: var(--font-regular);
          font-size: var(--text-small);

          i {
            margin: 10px;
          }
        }
      }
    }

    .contact-icon {
      @include flex-space-around;
      flex-wrap: wrap;
      margin-top: 2rem;

      a {
        @include flex-center;
        @include ease-in-out;
        color: var(--color-white);
        background-color: var(--color-grey-5);
        width: var(--text-50);
        aspect-ratio: 1/1;
        border-radius: 50%;
        margin: 0.4rem 0.4rem;
        font-size: var(--text-small);

        &:hover {
          background-color: var(--color-secondary);

          i {
            color: var(--color-primary);
          }
        }
      }
    }
  }

  .right-contact {
    flex: 3;
    margin-left: 3rem;

    .input-control {
      margin: 1.5rem 0;

      input,
      textarea {
        border-radius: 30px;
        font-weight: inherit;
        font-size: inherit;
        font-family: inherit;
        padding: 0.8rem 1.1rem;
        outline: none;
        border: none;
        background-color: var(--color-grey-5);
        width: 100%;
        color: var(--color-white);
        resize: none;
      }
    }

    button {
      @include flex-start;
      font-size: 1.2rem;
      background-color: transparent;
    }
  }
}

/* Main Title */
.main-title {
  text-align: center;

  h2 {
    position: relative;
    text-transform: uppercase;
    font-size: var(--text-big);
    font-weight: var(--font-heavy);

    span {
      color: var(--color-secondary);
    }

    .bg-text {
      @include ease-in-out;
      position: absolute;
      top: 50%;
      left: 50%;
      color: var(--color-grey-5);
      z-index: -1;
      transform: translate(-50%, -50%);
      font-weight: var(--font-heavy);
      font-size: var(--text-huge);
    }
  }
}

/* Media queries */
@media screen and (max-width: 600px) {
  header {
    padding: 0 !important
  }

  .header-content {
    height: auto;
    display: block;
    margin-bottom: 70px;

    .left-header {
      .image {
        display: none
      }
    }

    .right-header {
      .header-text-mobile {
        display: inline-block
      }

      .header-text {
        display: none
      }

      .mobile-img {
        display: inline-block
      }
    }
  }

  .about-container {
    .right-about {
      padding-top: 2.5rem;
    }
  }

  .about-stats {
    .progress-bars {
      grid-template-columns: 1fr;
    }
  }

  .timeline {
    grid-template-columns: 1fr;
  }

  .portfolio-content {
    padding-top: 2.5rem;
    padding-bottom: 1rem;
  }

  .contact-content-con {
    flex-direction: column;

    .right-contact {
      margin-left: 0;
      margin-top: 2.5rem;
    }
  }

  .contact-content-con .right-contact .i-c-2 {
    flex-direction: column;
  }

  .contact-content-con .right-contact .i-c-2 :last-child {
    margin-left: 0;
    margin-top: 1.5rem;
  }

  .contact-content-con .right-contact {
    margin-bottom: 6rem;
  }

  .contact-item {
    flex-direction: column;
  }

  #cursor {
    display: none;
  }

  #cursor-border {
    display: none;
  }
}

@media screen and (max-width: 1432px) {
  .portfolio-content {
    .portfolio-item {
      .portfolio-text {
        .text-container {
          .text {
            display: none;
          }

          .text-mobile {
            @include inline-block;
          }
        }
      }
    }
  }

  .contact-content-con {
    flex-direction: column;

    .right-contact {
      margin-left: 0;
      margin-top: 2.5rem;
    }
  }

  .contact-content-con .right-contact .i-c-2 {
    flex-direction: column;
  }

  .contact-content-con .right-contact .i-c-2 :last-child {
    margin-left: 0;
    margin-top: 1.5rem;
  }

  .contact-content-con .right-contact {
    margin-bottom: 6rem;
  }
}

@media screen and (max-width:970px) {
  .header-content {
    .right-header {
      .name {
        font-size: 2.5rem !important;
        text-align: center
      }
    }
  }
}

@media screen and (max-width: 1070px) {
  .header-content {
    grid-template-columns: 1fr;

    .left-header {
      .h-shape {
        display: none
      }

      .image {
        margin: 0 auto;
        width: 85%
      }
    }

    .right-header {
      grid-row: 1;
      padding-right: 0 !important;
      width: 90%;
      margin: 0 auto;

      .name {
        font-size: 2.5rem !important;
        text-align: center;
        padding-top: 3rem
      }
    }
  }

  .about-container {
    .right-about {
      padding-top: 2.5rem;
    }
  }
}