/* Imports */
@import "header";
@import "include";
@import "controls";
@import "page-settings";
@import "cursor";
@import "icons";
@import "independent-components";
@import "tooltip";
@import "scrollbar";

/* About */
.about-container {
  @include grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding-top: 3.5rem;
  padding-bottom: 5rem;

  .right-about {
    @include grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 2rem;

    .about-item {
      border: 1px solid var(--color-grey-5);
      border-radius: 5px;
      box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
      @include ease-in-out;

      &:hover {
        transform: translateY(-5px);
        border: 1px solid var(--color-secondary);
        box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.32);
      }

      .abt-text {
        @include flex;
        padding: 1.5rem;
        flex-direction: column;

        .large-text {
          font-size: var(--text-big);
          font-weight: var(--font-heavy);
          color: var(--color-secondary);
        }

        .small-text {
          padding-left: 3rem;
          position: relative;
          text-transform: uppercase;
          font-size: var(--text-small);
          color: var(--color-grey-1);
          letter-spacing: 2px;

          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 15px;
            width: 2rem;
            height: 2px;
            background-color: var(--color-grey-5);
          }
        }
      }
    }
  }

  .left-about {
    padding-right: 5rem;
    font-weight: var(--font-thin);

    p {

      font-weight: var(--font-thin);
      line-height: 2rem;
      padding: 1rem;
      color: var(--color-grey-1);
    }

    h4 {
      font-size: var(--text-medium);
      font-weight: var(--font-medium);
      text-transform: uppercase;
    }
  }
}

.about-stats {
  padding-bottom: 4rem;

  .progress-bars {
    @include grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 2rem;

    .progress-bar {
      @include flex;
      flex-direction: column;

      .prog-title {
        text-transform: uppercase;
        font-weight: var(--font-medium);
      }

      .progress-con {
        @include flex-center;

        .prog-text {
          color: var(--color-grey-2);
        }

        .progress {
          width: 100%;
          height: 0.45rem;
          background-color: var(--color-grey-4);
          margin-left: 1rem;
          position: relative;

          span {
            @include ease-in-out;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            background-color: var(--color-secondary);
            width: 60%;
          }

          .transdig {
            width: 95%;
          }

          .engmec {
            width: 95%;
          }

          .dash {
            width: 90%;
          }

          .webdev {
            width: 80%;
          }

          .datasci {
            width: 80%;
          }

          .iden {
            width: 65%;
          }

          .lean {
            width: 80%;
          }

          .info {
            width: 100%;
          }

          .pt {
            width: 100%;
          }

          .en {
            width: 100%;
          }

          .es {
            width: 75%;
          }

          .fr {
            width: 40%;
          }
        }
      }
    }
  }
}

.stat-title {
  text-transform: uppercase;
  font-size: var(--text-small);
  text-align: center;
  padding: 3.5rem 0;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 40%;
    height: 1px;
    background-color: var(--color-grey-5);
    transform: translateX(-50%);
  }
}

/* Timeline */
.timeline {
  @include grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;
  padding-bottom: 3rem;

  .timeline-item {
    position: relative;
    padding-left: 3rem;
    border-left: 1px solid var(--color-grey-5);

    .tl-icon {
      position: absolute;
      left: -27px;
      top: 0;
      background-color: var(--color-secondary);
      width: 50px;
      height: 50px;
      border-radius: 50%;
      @include flex-center;

      i {
        font-size: var(--text-small);
      }
    }

    .tl-header {
      font-weight: var(--font-heavy);
      text-transform: uppercase;

      .tl-duration {
        padding: 0.2rem 0.6rem;
        background-color: var(--color-grey-5);
        border-radius: 15px;
        display: inline-block;
        font-size: var(--text-micro);
        color: var(--color-white);
      }

      .tl-company {
        padding: 0.2rem 0.6rem;
        background-color: var(--color-opposite);
        border-radius: 15px;
        display: inline-block;
        font-size: var(--text-micro);
        color: var(--color-white);
      }
    }

    h5 {
      padding: 1rem 0;
      text-transform: uppercase;
      font-size: var(--text-medium);
      font-weight: var(--font-heavy);
    }

    p {
      color: var(--color-grey-2);
      font-size: var(--text-small);
    }
  }
}

/* Portfolio section */
.portfolio {
  overflow: hidden;
}

.portfolio-content {
  padding-top: 3rem;

  .swiper-container {
    .swiper-wrapper {
      .swiper-slide {
        @include grid;
        @include ease-in-out;
        grid-template-columns: 1fr;
        grid-auto-rows: min-content;
        height: 70vh;
        border-radius: 20px;
        background: var(--color-primary);
        box-shadow: var(--box-shadow-1);

        .portfolio-title {
          @include flex-center;
          padding-top: 1rem;

          h2 {
            text-align: center;
            text-transform: uppercase;
            font-size: var(--text-big);
            font-weight: var(--font-heavy);
          }
        }

        .portfolio-image {
          @include flex-center;
          margin: 1rem;

          img {
            width: min(350px, 100%);
          }
        }

        .portfolio-text {
          @include flex-center;
          margin-top: 1rem;

          .text-container {
            width: min(800px, 70%);

            .text {
              @include inline-block;
              color: var(--color-grey-1);
              font-size: var(--text-small);
            }

            .text-mobile {
              display: none;
              color: var(--color-grey-1);
              font-size: var(--text-small);
            }

            .link {
              @include inline-block;
              position: relative;
              color: var(--color-primary);
              background-color: var(--color-white);
              padding: 10px 20px;
              border-radius: 10px;
              margin-top: clamp(0.5em, 2.5vw, 1em);
            }
          }
        }

        &:hover {
          @include ease-in-out;
          transform: translateY(-3px);
          box-shadow: 0 10px 20px var(--color-opposite);
        }
      }
    }

    .swiper-button-next,
    .swiper-button-prev {
      font-size: 2em;
      border-radius: 50%;
      height: 25px;
      width: 25px;
      background-color: var(--color-white);
      color: var(--color-primary);
      box-shadow: var(--box-shadow-1);

      &:after {
        content: "";
      }
    }
  }
}

/* Contact section */
.contact-content-con {
  @include flex;
  padding-top: 3.5rem;

  .left-contact {
    flex: 2;

    h4 {
      margin-top: 1rem;
      font-size: var(--text-medium);
      text-transform: uppercase;
    }

    p {
      font-weight: var(--font-regular);
      color: var(--color-grey-1);
      margin: 1rem 0;
      line-height: 2rem;
    }

    .contact-info {
      .contact-item {
        @include flex-space-between;
        background-color: var(--color-white);
        margin: 10px;
        padding-right: 10px;
        border-radius: 20px;

        p {
          color: var(--color-grey-4);
          font-weight: var(--font-regular);
          font-size: var(--text-small);
          margin: 0.3rem 0 !important;
          padding: 0 !important;
        }

        .icon {
          @include flex-center;
          border-radius: 20px;
          padding: 5px;
          padding-right: 10px;
          background-color: var(--color-grey-1);
          color: var(--color-primary);
          font-weight: var(--font-regular);
          font-size: var(--text-small);

          i {
            margin: 10px;
          }
        }
      }
    }

    .contact-icon {
      @include flex-space-around;
      flex-wrap: wrap;
      margin-top: 2rem;

      a {
        @include flex-center;
        @include ease-in-out;
        color: var(--color-white);
        background-color: var(--color-grey-5);
        width: var(--text-50);
        aspect-ratio: 1/1;
        border-radius: 50%;
        margin: 0.4rem 0.4rem;
        font-size: var(--text-small);

        &:hover {
          background-color: var(--color-secondary);

          i {
            color: var(--color-primary);
          }
        }
      }
    }
  }

  .right-contact {
    flex: 3;
    margin-left: 3rem;

    .input-control {
      margin: 1.5rem 0;

      input,
      textarea {
        border-radius: 30px;
        font-weight: inherit;
        font-size: inherit;
        font-family: inherit;
        padding: 0.8rem 1.1rem;
        outline: none;
        border: none;
        background-color: var(--color-grey-5);
        width: 100%;
        color: var(--color-white);
        resize: none;
      }
    }

    .submit-btn {
      @include flex-start;
    }
  }
}

/* Main Title */
.main-title {
  text-align: center;

  h2 {
    position: relative;
    text-transform: uppercase;
    font-size: var(--text-big);
    font-weight: var(--font-heavy);

    span {
      color: var(--color-secondary);
    }

    .bg-text {
      @include ease-in-out;
      position: absolute;
      top: 50%;
      left: 50%;
      color: var(--color-grey-5);
      z-index: -1;
      transform: translate(-50%, -50%);
      font-weight: var(--font-heavy);
      font-size: var(--text-huge);
    }
  }
}

/* Media queries */
@media screen and (max-width: 600px) {
  .about-container {
    .right-about {
      padding-top: 2.5rem;
    }

    .left-about {
      padding-right: 0;

      p {
        padding-left: 0;
      }
    }
  }

  .timeline {
    padding-bottom: 6rem;
  }

  .portfolio-content {
    padding-top: 1rem;
    padding-bottom: 3rem;

    .swiper-container {
      .swiper-wrapper {
        .swiper-slide {
          height: 700px;
        }
      }
    }
  }

  .contact-content-con {
    flex-direction: column;

    .right-contact {
      margin-left: 0;
      margin-top: 2.5rem;
    }
  }

  .contact-content-con .right-contact .i-c-2 {
    flex-direction: column;
  }

  .contact-content-con .right-contact .i-c-2 :last-child {
    margin-left: 0;
    margin-top: 1.5rem;
  }

  .contact-content-con .right-contact {
    margin-bottom: 6rem;
  }

  .contact-item {
    flex-direction: column;
  }

  #cursor {
    display: none;
  }

  #cursor-border {
    display: none;
  }
}

@media screen and (max-width: 1432px) {
  .portfolio-content {
    .swiper-container {
      .swiper-wrapper {
        .swiper-slide {
          .portfolio-text {
            .text-container {
              .text {
                display: none;
              }

              .text-mobile {
                @include inline-block;
              }
            }
          }
        }
      }
    }
  }

  .contact-content-con {
    flex-direction: column;

    .right-contact {
      margin-left: 0;
      margin-top: 2.5rem;
    }
  }

  .contact-content-con .right-contact .i-c-2 {
    flex-direction: column;
  }

  .contact-content-con .right-contact .i-c-2 :last-child {
    margin-left: 0;
    margin-top: 1.5rem;
  }

  .contact-content-con .right-contact {
    margin-bottom: 6rem;
  }
}

@media screen and (max-width: 1070px) {
  .about-container {
    .right-about {
      padding-top: 2.5rem;
    }
  }
}

@media screen and (max-width: 970px) {
  .about-container .left-about {
    padding-right: 0rem;
  }
}