@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  cursor: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #0a0a0a;
    --color-secondary: #339eff;
    --color-white: #ffffff;
    --color-black: #000;
    --color-grey-0: #f8f8f8;
    --color-grey-1: #dbe1e8;
    --color-grey-2: #b2becd;
    --color-grey-3: #6c7983;
    --color-grey-4: #454e56;
    --color-grey-5: #2a2e35;
    --color-grey-6: #12181b;
    --color-opposite: #ff7e33;
    --color-yellow: #fff36d;
    /* Style variables */
    --br-sm-2: 14px;
    --box-shadow-1: 0 3px 15px rgba(0, 0, 0, 0.3);
    --font-regular: 300;
    --font-medium: 500;
    --font-heavy: 800;
    --size-button: clamp(0.8vh, 5vw, 3vh);
    --size-game-grid: clamp(2em, 10vw, 5em);
    --text-50: 50px;
    --text-micro: 0.8rem;
    --text-small: clamp(0.5rem, 5vw, 1.2rem);
    --text-medium: clamp(0.5em, 5vw, 2em);
    --text-big: clamp(2rem, 10vw, 4rem);
    --text-huge: clamp(3rem, 10vw, 6.3rem);
  }
  .light-mode {
    --color-primary: #ffffff;
    --color-secondary: #ff7e33;
    --color-white: #454e56;
    --color-black: #000;
    --color-grey-0: #f8f8f8;
    --color-grey-1: #6c7983;
    --color-grey-2: #6c7983;
    --color-grey-3: #6c7983;
    --color-grey-4: #b2becd;
    --color-grey-5: #e8e8e8;
    --color-grey-6: #12181b;
    --color-opposite: #339eff;
  }
}
body {
  background-color: var(--color-primary);
  font-family: "Open Sans", sans-serif;
  font-size: var(--text-small);
  color: var(--color-white);
  transition: all 0.4s ease-in-out;
}

a {
  text-decoration: none;
}

header {
  min-height: 100vh;
  overflow: hidden;
  padding: 0 !important;
}

section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem 18rem;
}

.container {
  display: none;
  transform: translateY(-100%) scale(0);
  transition: all 0.4s ease-in-out;
  background-color: var(--color-primary);
}

.active {
  display: block;
  transform: translateY(0) scaleY(1);
}

/* Controls */
.controls {
  position: fixed;
  z-index: 10;
  top: 50vh;
  right: 3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
}
.controls .control {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-grey-4);
  margin: 7% 0;
  width: clamp(1vh, 10vw, 8vh);
  aspect-ratio: 1/1;
  border-radius: 50%;
  box-shadow: var(--box-shadow-1);
  transition: all 0.5s ease-out;
}
.controls .control i {
  font-size: var(--size-button);
  color: var(--color-grey-1);
  pointer-events: none;
}
.controls .control:hover {
  transition: all 0.3s ease-in-out;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px var(--color-white);
}
.controls .active-btn {
  background-color: var(--color-secondary);
}
.controls .active-btn i {
  color: var(--color-white);
}

.page-settings {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 10;
  top: 3vw;
  right: 2vw;
}
.page-settings .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(3em, 10vw, 6em);
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin: 0 4%;
  background-color: var(--color-grey-4);
  box-shadow: var(--box-shadow-1);
  transition: all 0.5s ease-out;
}
.page-settings .btn i {
  font-size: var(--size-button);
  color: var(--color-grey-1);
  pointer-events: none;
}
.page-settings .btn:hover {
  background-color: var(--color-white);
  transform: translateY(-3px);
  transition: all 0.3s ease-in;
  box-shadow: 0 10px 20px var(--color-opposite);
}
.page-settings .btn:hover i {
  color: var(--color-opposite);
}

/* Header-content */
.header-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 100vh;
}
.header-content .left-header {
  display: flex;
  align-items: center;
  position: relative;
}
.header-content .left-header .h-shape {
  transition: all 0.4s ease-in-out;
  width: 65%;
  height: 100%;
  background-color: var(--color-secondary);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  -webkit-clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
          clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
}
.header-content .left-header .image {
  border-radius: var(--br-sm-2);
  height: 90%;
  width: 68%;
  margin-left: 4rem;
  background-color: var(--color-black);
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}
.header-content .left-header .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.4s ease-in-out;
  filter: grayscale(100%);
}
.header-content .left-header .image img:hover {
  filter: grayscale(0);
}
.header-content .right-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 18rem;
}
.header-content .right-header .name {
  font-size: var(--text-big);
}
.header-content .right-header .name span {
  color: var(--color-secondary);
  -webkit-animation: color-animation 4s linear infinite;
          animation: color-animation 4s linear infinite;
}
@-webkit-keyframes color-animation {
  0% {
    color: var(--color-secondary);
  }
  49% {
    color: var(--color-secondary);
  }
  50% {
    color: var(--color-opposite);
  }
  99% {
    color: var(--color-opposite);
  }
  100% {
    color: var(--color-secondary);
  }
}
@keyframes color-animation {
  0% {
    color: var(--color-secondary);
  }
  49% {
    color: var(--color-secondary);
  }
  50% {
    color: var(--color-opposite);
  }
  99% {
    color: var(--color-opposite);
  }
  100% {
    color: var(--color-secondary);
  }
}
.header-content .right-header .name .changing-text::before {
  content: "programar";
  -webkit-animation: animate-text infinite 20s;
          animation: animate-text infinite 20s;
}
@-webkit-keyframes animate-text {
  0% {
    content: "programar";
  }
  10% {
    content: "eficiência";
  }
  20% {
    content: "analytics";
  }
  30% {
    content: "o piano";
  }
  40% {
    content: "digital";
  }
  50% {
    content: "branding";
  }
  60% {
    content: "correr";
  }
  70% {
    content: "sprints";
  }
  80% {
    content: "a Deus";
  }
}
@keyframes animate-text {
  0% {
    content: "programar";
  }
  10% {
    content: "eficiência";
  }
  20% {
    content: "analytics";
  }
  30% {
    content: "o piano";
  }
  40% {
    content: "digital";
  }
  50% {
    content: "branding";
  }
  60% {
    content: "correr";
  }
  70% {
    content: "sprints";
  }
  80% {
    content: "a Deus";
  }
}
@-webkit-keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}
@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}
.header-content .right-header .changing-text::after {
  content: "";
  width: 0.25rem;
  height: 3rem;
  background: var(--color-grey-4);
  display: inline-block;
  -webkit-animation: cursor-blink 1s steps(2) infinite;
          animation: cursor-blink 1s steps(2) infinite;
}
.header-content .right-header p {
  margin: 1.5rem 0;
  line-height: 2rem;
  font-weight: var(--font-regular);
}

/* About */
.about-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding-top: 3.5rem;
  padding-bottom: 5rem;
}
.about-container .right-about {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;
}
.about-container .right-about .about-item {
  border: 1px solid var(--color-grey-5);
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
}
.about-container .right-about .about-item:hover {
  transform: translateY(-5px);
  border: 1px solid var(--color-secondary);
  box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.32);
}
.about-container .right-about .about-item .abt-text {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}
.about-container .right-about .about-item .abt-text .large-text {
  font-size: var(--text-big);
  font-weight: var(--font-heavy);
  color: var(--color-secondary);
}
.about-container .right-about .about-item .abt-text .small-text {
  padding-left: 3rem;
  position: relative;
  text-transform: uppercase;
  font-size: var(--text-small);
  color: var(--color-grey-1);
  letter-spacing: 2px;
}
.about-container .right-about .about-item .abt-text .small-text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 15px;
  width: 2rem;
  height: 2px;
  background-color: var(--color-grey-5);
}
.about-container .left-about {
  padding-right: 5rem;
}
.about-container .left-about p {
  line-height: 2rem;
  padding: 1rem;
  color: var(--color-grey-1);
  font-weight: var(--font-regular);
}
.about-container .left-about h4 {
  font-size: var(--text-medium);
  font-weight: var(--font-medium);
  text-transform: uppercase;
}

.about-stats {
  padding-bottom: 4rem;
}
.about-stats .progress-bars {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;
}
.about-stats .progress-bars .progress-bar {
  display: flex;
  flex-direction: column;
}
.about-stats .progress-bars .progress-bar .prog-title {
  text-transform: uppercase;
  font-weight: var(--font-medium);
}
.about-stats .progress-bars .progress-bar .progress-con {
  display: flex;
  align-items: center;
}
.about-stats .progress-bars .progress-bar .progress-con .prog-text {
  color: var(--color-grey-2);
}
.about-stats .progress-bars .progress-bar .progress-con .progress {
  width: 100%;
  height: 0.45rem;
  background-color: var(--color-grey-4);
  margin-left: 1rem;
  position: relative;
}
.about-stats .progress-bars .progress-bar .progress-con .progress span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--color-secondary);
  transition: all 0.4s ease-in-out;
  width: 60%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .transdig {
  width: 95%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .engmec {
  width: 95%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .dash {
  width: 90%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .webdev {
  width: 80%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .datasci {
  width: 80%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .iden {
  width: 65%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .lean {
  width: 80%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .info {
  width: 100%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .pt {
  width: 100%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .en {
  width: 100%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .es {
  width: 75%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .fr {
  width: 40%;
}

.stat-title {
  text-transform: uppercase;
  font-size: var(--text-small);
  text-align: center;
  padding: 3.5rem 0;
  position: relative;
}
.stat-title::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 40%;
  height: 1px;
  background-color: var(--color-grey-5);
  transform: translateX(-50%);
}

/* Timeline */
.timeline {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;
  padding-bottom: 3rem;
}
.timeline .timeline-item {
  position: relative;
  padding-left: 3rem;
  border-left: 1px solid var(--color-grey-5);
}
.timeline .timeline-item .tl-icon {
  position: absolute;
  left: -27px;
  top: 0;
  background-color: var(--color-secondary);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.timeline .timeline-item .tl-icon i {
  font-size: var(--text-small);
}
.timeline .timeline-item .tl-header {
  font-weight: var(--font-heavy);
  text-transform: uppercase;
}
.timeline .timeline-item .tl-header .tl-duration {
  padding: 0.2rem 0.6rem;
  background-color: var(--color-grey-5);
  border-radius: 15px;
  display: inline-block;
  font-size: var(--text-micro);
  color: var(--color-white);
}
.timeline .timeline-item .tl-header .tl-company {
  padding: 0.2rem 0.6rem;
  background-color: var(--color-opposite);
  border-radius: 15px;
  display: inline-block;
  font-size: var(--text-micro);
  color: var(--color-white);
}
.timeline .timeline-item h5 {
  padding: 1rem 0;
  text-transform: uppercase;
  font-size: var(--text-medium);
  font-weight: var(--font-heavy);
}
.timeline .timeline-item p {
  color: var(--color-grey-2);
  font-size: var(--text-small);
}

/* Game section */
.game-section {
  text-align: center;
  margin: 50px;
}
.game-section ul {
  border-radius: 5px;
  background-color: var(--color-white);
  list-style-type: none;
  max-width: 1200px;
  border-radius: 5px;
  background-color: var(--color-white);
}
.game-section label {
  border-radius: 5px;
  padding: 3px;
  padding-left: 25px;
  color: var(--color-primary);
  font-size: var(--text-medium);
  font-weight: var(--font-heavy);
}
.game-section label span {
  color: var(--color-grey-2);
  font-size: var(--text-small);
  font-weight: var(--font-medium);
}
.game-section li {
  margin: 10px;
  padding: 5px;
}
.game-section input[type=checkbox] {
  display: none;
}
.game-section input[type=checkbox] ~ ul {
  max-height: 0;
  max-width: 0;
  opacity: 0;
  overflow: hidden;
  white-space: nowrap;
  transition: all 1s ease;
}
.game-section input[type=checkbox]:checked ~ ul {
  max-height: 100%;
  max-width: 100%;
  opacity: 1;
}
.game-section .games .tic-tac-toe .game-grid {
  display: inline-grid;
  grid-template-rows: repeat(3, clamp(2em, 10vw, 5em));
  grid-template-columns: repeat(3, clamp(2em, 10vw, 5em));
  margin: 10px auto;
  color: var(--color-opposite);
}
.game-section .games .tic-tac-toe .game-grid .cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--color-grey-2);
  font-weight: var(--font-heavy);
  font-size: var(--text-medium);
}
.game-section .games .tic-tac-toe .status {
  text-transform: uppercase;
  font-size: var(--text-small);
  font-weight: var(--font-regular);
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 5px;
  padding: 0.5em;
}
.game-section .games .tic-tac-toe .restart {
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin: 25px;
  font-size: var(--text-medium);
  color: var(--color-opposite);
  padding: 10px;
  border-radius: 10px;
  background-color: var(--color-primary);
}
.game-section .games .pedra-papel-tesoura .score-board {
  border: 3px solid var(--color-primary);
  width: 300px;
  margin: 40px auto;
  font-size: var(--text-50);
  border-radius: 4px;
  padding: 15px 20px;
  position: relative;
  color: var(--color-primary);
}
.game-section .games .pedra-papel-tesoura .score-board .badge {
  font-weight: var(--font-heavy);
}
.game-section .games .pedra-papel-tesoura .score-board .badge .user-label {
  background: var(--color-secondary);
  position: absolute;
  top: 50%;
  left: -5%;
  font-size: var(--text-small);
  padding: 0.5em;
  transform: translate(-10%, -50%);
  border-radius: 0.5em;
}
.game-section .games .pedra-papel-tesoura .score-board .badge .computer-label {
  background: var(--color-opposite);
  position: absolute;
  top: 50%;
  right: -5%;
  font-size: var(--text-small);
  padding: 0.5em;
  transform: translate(10%, -50%);
  border-radius: 0.5em;
}
.game-section .games .pedra-papel-tesoura .result {
  font-size: var(--text-medium);
  color: var(--color-grey-2);
}
.game-section .games .pedra-papel-tesoura .choices {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 40px 0;
}
.game-section .games .pedra-papel-tesoura .choices .choice {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--color-grey-2);
  background-color: var(--color-grey-2);
  aspect-ratio: 1/1;
  height: calc(2 * var(--text-50));
  padding: 10px;
  border-radius: 50%;
  margin: auto 10px;
  transition: all 0.3s ease;
}
.game-section .games .pedra-papel-tesoura .choices .choice span {
  font-size: var(--text-50);
}
.game-section .games .pedra-papel-tesoura .choices .winningStyles {
  border: 3px solid #4dcc7d;
  background-color: #043507;
  box-shadow: 0 0 20px #043507;
}
.game-section .games .pedra-papel-tesoura .choices .losingStyles {
  border: 3px solid #c52e2e;
  background-color: #2e0303;
  box-shadow: 0 0 20px #2e0303;
}
.game-section .games .pedra-papel-tesoura .choices .drawStyles {
  border: 3px solid #444;
  background-color: #222;
  box-shadow: 0 0 20px #222;
}
.game-section .games .pedra-papel-tesoura sup {
  margin: 0;
  padding: 0;
}
.game-section .games .pedra-papel-tesoura .reset {
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin: 25px;
  font-size: var(--text-medium);
  padding: 10px;
  border-radius: 10px;
  color: var(--color-opposite);
  background-color: var(--color-primary);
}
.game-section .games .mine-sweeper #mine-grid {
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-section .games .mine-sweeper #mine-grid tr td {
  border: 1px solid var(--color-white);
  background: var(--color-grey-2);
  width: var(--size-game-grid);
  height: var(--size-game-grid);
}
.game-section .games .mine-sweeper #mine-grid tr td.clicked {
  background: var(--color-primary);
}
.game-section .games .mine-sweeper #mine-grid tr td.right-clicked {
  background: var(--color-yellow);
}
.game-section .games .mine-sweeper #mine-grid tr td.mine {
  background: var(--color-opposite);
}
.game-section .games .mine-sweeper .refresh {
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin: 25px;
  font-size: var(--font-medium);
  padding: 10px;
  border-radius: 10px;
  color: var(--color-opposite);
  background-color: var(--color-primary);
}
.game-section .games .snake #snakeboard {
  position: relative;
  display: inline-block;
  border: 1px solid var(--color-primary);
  background-color: var(--color-grey-2);
}
.game-section .games .snake button {
  opacity: 0.5;
  padding: 0 5px;
}

/* Portfolio section */
.portfolio-content {
  padding-top: 4rem;
  padding-bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio-content .portfolio-grid {
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}
.portfolio-content .portfolio-grid .card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 300px;
  height: 350px;
  margin: 20px;
  border-radius: 20px;
  transition: 0.5s;
  transition-delay: 0.5s;
}
.portfolio-content .portfolio-grid .card:hover {
  width: 600px;
  transition-delay: 0s;
}
.portfolio-content .portfolio-grid .card:hover .circle::before {
  -webkit-clip-path: circle(400px at center);
          clip-path: circle(400px at center);
}
.portfolio-content .portfolio-grid .card:hover .circle img {
  transform: scale(0);
  transition-delay: 0s;
}
.portfolio-content .portfolio-grid .card:hover .content {
  left: 0;
  display: inline;
  transition-delay: 0.5s;
  opacity: 1;
  visibility: visible;
}
.portfolio-content .portfolio-grid .card:hover .content img {
  border-radius: var(--br-sm-2);
  visibility: visible;
  left: 150%;
  transform: translate(-50%, -50%) scale(1);
  transition-delay: 0.5s;
}
.portfolio-content .portfolio-grid .card .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}
.portfolio-content .portfolio-grid .card .circle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-grey-2);
  -webkit-clip-path: circle(min(15vw, 120px) at center);
          clip-path: circle(min(15vw, 120px) at center);
  transition: 0.5s;
}
.portfolio-content .portfolio-grid .card .circle img {
  position: relative;
  width: min(15vw, 150px);
  transition: 0.5s;
  transition-delay: 0.5s;
}
.portfolio-content .portfolio-grid .card .content {
  position: relative;
  width: 50%;
  left: 20%;
  padding: 20px 20px 20px 40px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}
.portfolio-content .portfolio-grid .card .content h2 {
  color: var(--color-grey-5);
  text-transform: uppercase;
  font-size: var(--text-medium);
  line-height: 1em;
}
.portfolio-content .portfolio-grid .card .content p {
  color: var(--color-grey-4);
  font-size: var(--text-small);
  padding-bottom: 0.5em;
}
.portfolio-content .portfolio-grid .card .content a {
  position: relative;
  color: var(--color-white);
  background-color: var(--color-primary);
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
}
.portfolio-content .portfolio-grid .card .content img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  height: 450px;
  transition: 0.5s;
}

/* Contact section */
.contact-content-con {
  display: flex;
  padding-top: 3.5rem;
}
.contact-content-con .left-contact {
  flex: 2;
}
.contact-content-con .left-contact h4 {
  margin-top: 1rem;
  font-size: var(--text-medium);
  text-transform: uppercase;
}
.contact-content-con .left-contact p {
  font-weight: var(--font-regular);
  color: var(--color-grey-1);
  margin: 1rem 0;
  line-height: 2rem;
}
.contact-content-con .left-contact .contact-info .contact-item {
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  padding-right: 10px;
  border-radius: 20px;
}
.contact-content-con .left-contact .contact-info .contact-item p {
  color: var(--color-grey-4);
  font-weight: var(--font-regular);
  font-size: var(--text-small);
  margin: 0.3rem 0 !important;
  padding: 0 !important;
}
.contact-content-con .left-contact .contact-info .contact-item .icon {
  border-radius: 20px;
  padding: 5px;
  padding-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-grey-1);
  color: var(--color-primary);
  font-weight: var(--font-regular);
  font-size: var(--text-small);
}
.contact-content-con .left-contact .contact-info .contact-item .icon i {
  margin: 10px;
}
.contact-content-con .left-contact .contact-icon {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.contact-content-con .left-contact .contact-icon a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  background-color: var(--color-grey-5);
  width: var(--text-50);
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin: 0.4rem 0.4rem;
  transition: all 0.4s ease-in-out;
  font-size: var(--text-small);
}
.contact-content-con .left-contact .contact-icon a:hover {
  background-color: var(--color-secondary);
}
.contact-content-con .left-contact .contact-icon a:hover i {
  color: var(--color-primary);
}
.contact-content-con .right-contact {
  flex: 3;
  margin-left: 3rem;
}
.contact-content-con .right-contact .input-control {
  margin: 1.5rem 0;
}
.contact-content-con .right-contact .input-control input,
.contact-content-con .right-contact .input-control textarea {
  border-radius: 30px;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  padding: 0.8rem 1.1rem;
  outline: none;
  border: none;
  background-color: var(--color-grey-5);
  width: 100%;
  color: var(--color-white);
  resize: none;
}
.contact-content-con .right-contact .submit-btn {
  display: flex;
  justify-content: flex-start;
}

/* Independed components */
.btn-con {
  display: flex;
  align-self: flex-start;
  color: var(--color-white);
}

.main-btn {
  border-radius: 30px;
  color: inherit;
  font-weight: var(--font-regular);
  position: relative;
  border: 1px solid var(--color-secondary);
  display: flex;
  align-self: flex-start;
  align-items: center;
  overflow: hidden;
}
.main-btn .btn-text {
  padding: 0 2rem;
}
.main-btn .btn-icon {
  background-color: var(--color-secondary);
  width: 5vh;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 1rem;
}
.main-btn .btn-icon i {
  font-size: var(--text-small);
}
.main-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: all 0.4s ease-out;
  z-index: -1;
}
.main-btn:hover {
  transition: all 0.4s ease-out;
}
.main-btn:hover::before {
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  transform: translateX(0);
  transition: all 0.4s ease-out;
}

.main-title {
  text-align: center;
}
.main-title h2 {
  position: relative;
  text-transform: uppercase;
  font-size: var(--text-big);
  font-weight: var(--font-heavy);
}
.main-title h2 span {
  color: var(--color-secondary);
}
.main-title h2 .bg-text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--color-grey-5);
  transition: all 0.4s ease-in-out;
  z-index: -1;
  transform: translate(-50%, -50%);
  font-weight: var(--font-heavy);
  font-size: var(--text-huge);
}

/* Highlight for text */
span.highlight {
  color: var(--color-secondary);
  font-weight: var(--font-heavy);
}

/* Customizing links */
a.different:link {
  color: var(--color-secondary);
}

a.different:visited {
  color: var(--color-secondary);
}

a.different:hover {
  color: var(--color-opposite);
}

/* Custom cursor */
#cursor {
  position: fixed;
  top: -5px;
  left: -5px;
  width: 10px;
  height: 10px;
  background-color: var(--color-white);
  border-radius: 50%;
  pointer-events: none;
  z-index: 999;
}

#cursor-border {
  --size-cursor: 50px;
  position: fixed;
  top: calc(var(--size-cursor) / -2);
  left: calc(var(--size-cursor) / -2);
  width: var(--size-cursor);
  height: var(--size-cursor);
  border-radius: 50%;
  box-shadow: 0 0 0 1px var(--color-white);
  pointer-events: none;
  transition: top 0.15s ease-out, left 0.15s ease-out, width 0.15s ease-out, height 0.15s ease-out, background-color 0.15s ease-out;
  z-index: 999;
}

.small-cursor {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  opacity: 0.5;
}

.big-cursor {
  background-color: var(--color-grey-0);
  border-color: var(--color-grey-0);
  mix-blend-mode: difference;
}

/* Imports */
.about-container .left-about p {
  padding-left: 0;
}

@media screen and (max-width: 600px) {
  header {
    padding: 0 !important;
  }
  .controls {
    top: auto;
    bottom: 0;
    flex-direction: row;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: var(--color-grey-5);
  }
  .controls .control {
    margin: 7% 2%;
  }
  .about-container .right-about {
    padding-top: 2.5rem;
  }
  .about-container .left-about {
    padding-right: 0;
  }
  .about-container .left-about p {
    padding-left: 0;
  }
  .page-settings {
    flex-direction: column;
  }
  .page-settings .btn {
    margin: 7% 2%;
  }
  .game-section {
    padding-bottom: 6rem;
  }
  .game-section .games .pedra-papel-tesoura .score-board {
    width: 80px;
    height: 300px;
  }
  .game-section .games .pedra-papel-tesoura .score-board .score::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
  }
  .game-section .games .pedra-papel-tesoura .score-board .score span {
    display: block;
    background-color: var(--color-grey-2);
    padding: 10px;
    border-radius: 10px;
  }
  .game-section .games .pedra-papel-tesoura .score-board .badge .user-label {
    top: 0%;
    left: 0%;
    transform: translate(-0.23rem, -1.5rem);
  }
  .game-section .games .pedra-papel-tesoura .score-board .badge .computer-label {
    top: 100%;
    right: 0%;
    transform: translate(0.4rem, -1rem);
  }
  .game-section .games .pedra-papel-tesoura .result {
    display: none;
  }
  .game-section .games .pedra-papel-tesoura .choices {
    flex-direction: column;
    margin: 0;
  }
  .game-section .games .pedra-papel-tesoura .choices .choice {
    margin: 10px auto;
  }
  .portfolio-content .portfolio-grid .card {
    max-width: 60vw;
    height: 200px;
    align-items: flex-start;
    overflow: hidden;
  }
  .portfolio-content .portfolio-grid .card:hover {
    height: 600px;
  }
  .portfolio-content .portfolio-grid .card:hover .content img {
    top: initial;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 100%) scale(1);
    height: 300px;
  }
  .portfolio-content .portfolio-grid .card .content {
    width: 100%;
    left: 0;
    padding: 40px;
  }
  .portfolio-content .portfolio-grid .content {
    width: 100%;
    left: 0;
    padding: 40px;
  }
  .timeline {
    padding-bottom: 6rem;
  }
  .container {
    padding: 2rem 2.5rem !important;
  }
  .contact-content-con {
    flex-direction: column;
  }
  .contact-content-con .right-contact {
    margin-left: 0;
    margin-top: 2.5rem;
  }
  .contact-content-con .right-contact .i-c-2 {
    flex-direction: column;
  }
  .contact-content-con .right-contact .i-c-2 :last-child {
    margin-left: 0;
    margin-top: 1.5rem;
  }
  .contact-content-con .right-contact {
    margin-bottom: 6rem;
  }
  .contact-item {
    flex-direction: column;
  }
  #cursor {
    display: none;
  }
  #cursor-border {
    display: none;
  }
}
@media screen and (max-width: 1432px) {
  .container {
    padding: 7rem 11rem;
  }
  .portfolio-content .portfolio-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .contact-content-con {
    flex-direction: column;
  }
  .contact-content-con .right-contact {
    margin-left: 0;
    margin-top: 2.5rem;
  }
  .contact-content-con .right-contact .i-c-2 {
    flex-direction: column;
  }
  .contact-content-con .right-contact .i-c-2 :last-child {
    margin-left: 0;
    margin-top: 1.5rem;
  }
  .contact-content-con .right-contact {
    margin-bottom: 6rem;
  }
}
@media screen and (max-width: 1070px) {
  .header-content {
    grid-template-columns: repeat(1, 1fr);
  }
  .header-content .left-header .h-shape {
    display: none;
  }
  .header-content .left-header .image {
    margin: 0 auto;
    width: 85%;
  }
  .header-content .right-header {
    grid-row: 1;
    padding-right: 0rem !important;
    width: 90%;
    margin: 0 auto;
  }
  .header-content .right-header .name {
    font-size: 2.5rem !important;
    text-align: center;
    padding-top: 3rem;
  }
  .about-container .right-about {
    padding-top: 2.5rem;
  }
}
@media screen and (max-width: 970px) {
  .container {
    padding: 7rem 6rem;
  }
  .about-container .left-about {
    padding-right: 0rem;
  }
  .header-content {
    padding-bottom: 6rem;
  }
  .portfolio-content .portfolio-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-whatsapp:before {
  content: "\e915";
}

.icon-translate:before {
  content: "\e900";
}

.icon-gamepad:before {
  content: "\e901";
}

.icon-cloud-download:before {
  content: "\e902";
}

.icon-comments:before {
  content: "\e903";
}

.icon-briefcase:before {
  content: "\e904";
}

.icon-calendar-check:before {
  content: "\e905";
}

.icon-map-marker:before {
  content: "\e906";
}

.icon-graduation-cap:before {
  content: "\e907";
}

.icon-globe:before {
  content: "\e908";
}

.icon-user:before {
  content: "\e909";
}

.icon-paper-plane:before {
  content: "\e90a";
}

.icon-github:before {
  content: "\e90b";
}

.icon-youtube:before {
  content: "\e90c";
}

.icon-refresh:before {
  content: "\e90d";
}

.icon-envelope-open:before {
  content: "\e90e";
}

.icon-adjust:before {
  content: "\e90f";
}

.icon-linkedin:before {
  content: "\e910";
}

.icon-blog:before {
  content: "\e911";
}

.icon-home:before {
  content: "\e912";
}

.icon-circle-right:before {
  content: "\e913";
}

.icon-circle-left:before {
  content: "\e914";
}/*# sourceMappingURL=styles.css.map */