/* Imports */
@import "header";
@import "include";
@import "sidebar";
@import "cursor";
@import "aos";
@import "independent-components";
@import "scrollbar";
@import "scroll-icon";
@import "icons";
@import "toast";
@import "bokeh";
@import "dropdown";

.header-content {
  display: grid;
  grid-template-columns: 1fr;
  height: 100vh;

  .middle {
    @include flex-center;
    flex-direction: column;

    .name-marquee {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    .image-wrapper {
      .image {
        @include flex-center;
        border-radius: 30px;
        overflow: hidden;

        img {
          z-index: -1;
          @include ease-in-out;
          -o-object-fit: cover;
          object-fit: cover;
          width: 333px;
          height: 500px;
          filter: grayscale(100%);

          &:hover {
            filter: grayscale(0);
          }
        }
      }
    }
  }

  .header-btns {
    display: inline-flex;
    flex-wrap: wrap;
    position: absolute;
    top: 92vh;
    right: 50px;
    gap: 5px;
  }

  .loves-what {
    position: absolute;
    top: calc(92vh + 18px);
    left: 50px;
    font-size: 0.6rem;

    span {
      color: var(--color-secondary);
      -webkit-animation: 4s linear infinite color-animation;
      animation: 4s linear infinite color-animation;
    }

    .caret {
      display: inline-block;
      animation: blink 1s infinite;
    }
  }

  .name-tag {
    position: absolute;
    top: 10px;
    right: 0;
    background-color: var(--color-white);
    width: 100px;
    height: 1px;

    span {
      display: flex;
      justify-content: flex-start;
      font-size: 0.6rem;
    }
  }

  .settings-wrapper {
    display: grid;
    grid-template-columns: 50px 50px;
    position: absolute;
    top: 4vh;
    left: 50%;
    height: 50px;
    transform: translateX(-50%);
    border: 2px solid var(--color-white);
    border-radius: 50px;

    .setting {
      @include flex-center;
      background-color: transparent;
      border: none;

      &:nth-child(odd) {
        border-right: 2px solid var(--color-white);
      }

      i {
        color: var(--color-white);
      }
    }
    .active_setting {
      background-color: var(--color-secondary) !important;

      i {
        color: var(--color-white-2);
      }
    }
  }

  .scroll-tag {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    height: 150px;
    width: 150px;

    span {
      position: absolute;
      top: 0;
      left: 50%;
      width: 24px;
      height: 24px;
      margin-left: -12px;
      border-left: 1px solid var(--color-white);
      border-bottom: 1px solid var(--color-white);
      transform: rotate(-45deg);
      animation: sdb05 1.5s infinite;
    }

    @keyframes sdb05 {
      0% {
        transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
      }
    }
  }

  .menu-tag {
    position: absolute;
    top: 0;
    left: 5px;
    background-color: var(--color-white);
    width: 1px;
    height: 40%;

    span {
      position: relative;
      top: 10%;
      font-size: 0.6rem;
      writing-mode: vertical-lr;
    }
  }
}

@keyframes color-animation {
  0%,
  100%,
  49% {
    color: var(--color-secondary);
  }

  50%,
  99% {
    color: var(--color-opposite);
  }
}

@keyframes blink {
  0% {
    color: inherit;
  }

  49% {
    color: inherit;
  }

  50% {
    color: transparent;
  }

  99% {
    color: transparent;
  }

  100% {
    color: inherit;
  }
}

/* Quem sou */
.who-section {
  @include flex-center;

  .who-wrapper {
    @include flex-center;
    flex-direction: column;
    background-color: var(--color-grey-4);
    width: 95%;
    border-radius: 50px;
    height: 90vh;
    overflow: hidden;

    .who-grid {
      display: grid;
      align-items: center;
      justify-items: center;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      margin-bottom: min(max(2rem, 10vw), 10rem);

      &_number {
        @include flex-center;
        @include cubic-bezier;
        font-size: 10rem;
        width: 70%;

        &:hover {
          color: var(--color-opposite);
          text-shadow: -1px -1px white, 1px 1px darken(white, 50%),
            2px 2px darken(white, 52%), 3px 3px darken(white, 54%),
            4px 4px darken(white, 56%), 5px 5px darken(white, 58%),
            6px 6px darken(white, 60%), 7px 7px darken(white, 62%),
            8px 8px darken(white, 64%), 9px 9px darken(white, 66%),
            10px 10px darken(white, 68%), 11px 11px darken(white, 70%),
            18px 18px 30px rgba(black, 0.4), 18px 18px 10px rgba(black, 0.4);
        }
      }

      &_text {
        @include flex-center;
        flex-wrap: wrap;
        padding: 20px;
        margin-right: 2rem;
        gap: 40px;
        text-align: justify;

        span {
          max-width: 600px;
          color: var(--color-white);

          .first-letter {
            background-color: var(--color-opposite);
            color: var(--color-grey-4);
            font-size: 2.2rem;
            padding: 0 0.3rem;
            margin: 0 0.3rem 0 0;
            border: 2px solid;
            border-radius: 8px;
            float: left;
          }
        }
      }
    }

    .who-marquee {
      .marquee {
        &__wrapper {
          &_content {
            span {
              &:after {
                content: "✹";
                color: var(--color-opposite);
              }
            }
          }
        }
      }
    }

    .who-tag {
      position: absolute;
      top: 5vh;
      left: 10%;
      background-color: var(--color-white);
      width: 1px;
      height: 100px;

      span {
        position: absolute;
        top: 40px;
        font-size: 0.6rem;
        writing-mode: vertical-lr;
      }
    }
  }
}

/* Work */
.work-container {
  @include grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 2rem;
  margin-top: 5rem;
  padding: min(10rem, max(10vw, 2rem));

  .work-tag {
    position: absolute;
    top: 50px;
    left: 0;
    background-color: var(--color-white);
    width: 200px;
    height: 1px;

    span {
      display: flex;
      justify-content: flex-end;
      font-size: 0.6rem;
    }
  }

  .work-item {
    border: 1px solid var(--color-grey-5);
    border-radius: 5px;
    box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
    @include ease-in-out;

    &:hover {
      transform: translateY(-5px);
      border: 1px solid var(--color-secondary);
      box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.32);
    }

    .work-text {
      @include flex;
      padding: 1.5rem;
      flex-direction: column;

      .large-text {
        font-size: var(--text-big);
        font-weight: var(--font-heavy);
        color: var(--color-secondary);
      }

      .small-text {
        padding-left: 3rem;
        position: relative;
        text-transform: uppercase;
        font-size: var(--text-small);
        color: var(--color-grey-1);
        letter-spacing: 2px;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 15px;
          width: 2rem;
          height: 2px;
          background-color: var(--color-grey-5);
        }
      }
    }
  }
}

.expertise {
  margin-bottom: 10rem;

  .expertise-tag {
    position: relative;
    top: 0;
    left: 0;
    background-color: var(--color-white);
    width: 200px;
    height: 1px;
    margin-bottom: 10rem;

    span {
      display: flex;
      justify-content: flex-end;
      font-size: 0.6rem;
    }
  }

  &-marquees {
    .marquee {
      height: 5rem;

      &__wrapper {
        &_content {
          span {
            font-size: 5rem;

            &:after {
              color: var(--color-secondary);
              content: "◆";
            }
          }

          .outline {
            color: var(--color-primary) !important;
            text-shadow: -2px -2px 0 var(--color-white),
              2px -2px 0 var(--color-white), -2px 2px 0 var(--color-white),
              2px 2px 0 var(--color-white);

            &:after {
              content: "◆";
              color: var(--color-primary);
            }
          }
        }
      }
    }
  }
}

/* Timeline */
.timeline {
  .timeline-wrapper {
    padding-bottom: 15rem;

    .container {
      @include flex-center;

      svg {
        font-size: 10.5rem;
        width: 960px;

        .text-copy {
          fill: none;
          stroke: white;
          stroke-dasharray: 6% 29%;
          stroke-width: 5px;
          stroke-dashoffset: 0%;
          animation: stroke-offset 5.5s infinite linear;
        }

        .text-copy:nth-child(1) {
          stroke: #4d163d;
          animation-delay: -1;
        }

        .text-copy:nth-child(2) {
          stroke: #840037;
          animation-delay: -2s;
        }

        .text-copy:nth-child(3) {
          stroke: #bd0034;
          animation-delay: -3s;
        }

        .text-copy:nth-child(4) {
          stroke: #bd0034;
          animation-delay: -4s;
        }

        .text-copy:nth-child(5) {
          stroke: #fdb731;
          animation-delay: -5s;
        }

        @keyframes stroke-offset {
          100% {
            stroke-dashoffset: -35%;
          }
        }
      }
    }

    .timeline-text {
      @include flex-center;
      padding-top: 10rem;

      p {
        text-align: center;
        font-size: min(max(3rem, 10vw), 10.5rem);
        color: var(--color-white);
      }
    }

    .grid {
      display: grid;
      justify-items: center;
      justify-self: center;
      grid-template-columns: 1fr;
      font-size: 1rem;
      padding: 2rem;

      .grid-text {
        text-align: center;
        padding-bottom: 0.5rem;
      }
    }

    .companies {
      @include flex-center;
      flex-wrap: wrap;
      max-width: 1200px;
      gap: 15px;
      margin: 0 auto;

      &:hover > .card:not(:hover) .card__image {
        filter: brightness(0.5) saturate(0.5) blur(20px);
      }

      .card {
        position: relative;

        &:hover {
          .card__image {
            transform: scale(1.05) translateZ(0);

            img {
              filter: brightness(1);
            }
          }

          .card__content {
            .category {
              color: white;
              mix-blend-mode: difference;
            }

            .heading {
              color: var(--color-white);
              text-shadow: -1px -1px 0 var(--color-primary),
                1px -1px 0 var(--color-primary), -1px 1px 0 var(--color-primary),
                1px 1px 0 var(--color-primary);
            }
          }
        }

        &__image {
          transform-origin: center;
          transform: scale(1) translateZ(0);
          @include cubic-bezier;

          img {
            border-radius: 30px;
            width: 330px;
            height: 180px;
            filter: brightness(0.1) saturate(0);
          }
        }

        &__content {
          position: absolute;
          top: 20px;
          left: 25px;

          .category {
            color: var(--color-grey-4);
            font-size: 0.9rem;
            margin-bottom: var(--spacing-s);
            text-transform: uppercase;
          }

          .heading {
            color: var(--color-grey-4);
            font-size: 1.9rem;
            line-height: 1.4;
          }
        }
      }
    }
  }

  .timeline-tag {
    position: relative;
    top: 0;
    left: 0;
    background-color: var(--color-white);
    width: 200px;
    height: 1px;
    margin-bottom: 10rem;

    span {
      display: flex;
      justify-content: flex-end;
      font-size: 0.6rem;
    }
  }
}

/* Portfolio section */
.portfolio-content {
  background-color: var(--color-white-2);
  padding-bottom: 10rem;
  margin-top: 1rem;

  .portfolio-tag {
    margin-top: 2rem;
    position: relative;
    top: 1rem;
    left: 0;
    background-color: var(--color-black);
    width: 200px;
    height: 1px;

    span {
      color: var(--color-black);
      display: flex;
      justify-content: flex-end;
      top: 40px;
      font-size: 0.6rem;
    }
  }

  .portfolio-grid {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr;
    padding-top: 5rem;
    margin-bottom: min(max(2rem, 10vw), 10rem);

    &_number {
      @include flex-center;
      color: var(--color-white-2);
      font-size: 10rem;
      border-radius: 50%;
      background-color: var(--color-secondary);
      width: 15rem;
      height: 15rem;
      @include cubic-bezier;

      &:hover {
        color: var(--color-white-2);
        text-shadow: -1px -1px white, 1px 1px darken(white, 50%),
          2px 2px darken(white, 52%), 3px 3px darken(white, 54%),
          4px 4px darken(white, 56%), 5px 5px darken(white, 58%),
          6px 6px darken(white, 60%), 7px 7px darken(white, 62%),
          8px 8px darken(white, 64%), 9px 9px darken(white, 66%),
          10px 10px darken(white, 68%), 11px 11px darken(white, 70%),
          18px 18px 30px rgba(black, 0.4), 18px 18px 10px rgba(black, 0.4);
      }
    }

    &_text {
      @include flex-center;
      flex-direction: column;
      padding: 20px;
      margin-right: min(max(0.5rem, 5vw), 2rem);
      gap: 40px;
      text-align: justify;

      .table {
        @include flex-center;
        max-width: 90vw;
        height: 150px;
        border-radius: 50px;
        box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.3);

        .monitor {
          @include flex-center;
          width: 100%;
          white-space: nowrap;
          overflow: hidden;

          .text {
            color: #9f6914;
            text-transform: uppercase;
            font-weight: 800;
            font-size: 5rem;
            position: relative;
            display: inline-block;
            animation: move 30s infinite linear;
          }

          @keyframes move {
            from {
              left: 4000px;
            }
            to {
              left: -4000px;
            }
          }
        }
      }
    }
  }

  .portfolio-cards {
    @include flex-center;
    flex-direction: column;
    padding-top: 5em;

    .portfolio-card {
      @include flex-center;
      position: sticky;
      top: 10%;
      max-width: 100%;
      max-height: 80vh;
      font-size: 40px;
      text-shadow: 1px 1px black;
      background-color: transparent;
      box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.3);
      margin-bottom: 50rem;

      img {
        width: 100%;
        height: auto;
      }

      &:last-of-type {
        margin-bottom: 25rem;
      }
    }
  }

  .spacer {
    aspect-ratio: 960/540;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../img/waves.svg");
    position: absolute;
    bottom: 0;
    left: 0;
  }
  /*     svg {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    } */
}

/* Contact section */
.contact-content {
  padding-top: 3.5rem;
  background-color: #0a0a0a;

  .contact-tag {
    position: relative;
    top: 0;
    left: 0;
    background-color: var(--color-white-2);
    color: var(--color-white-2);
    width: 200px;
    height: 1px;
    margin-bottom: 10rem;

    span {
      display: flex;
      justify-content: flex-end;
      font-size: 0.6rem;
    }
  }

  &_number {
    @include flex-center;
    color: var(--color-white-2);
    font-size: 10rem;
    animation: neon 1.5s ease-in-out infinite alternate;
    /* @include cubic-bezier; */

    @keyframes neon {
      from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff,
          0 0 40px var(--color-secondary), 0 0 70px var(--color-secondary),
          0 0 80px var(--color-secondary), 0 0 100px var(--color-secondary),
          0 0 150px var(--color-secondary);
      }
      to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff,
          0 0 20px var(--color-secondary), 0 0 35px var(--color-secondary),
          0 0 40px var(--color-secondary), 0 0 50px var(--color-secondary),
          0 0 75px var(--color-secondary);
      }
    }
  }
  .text-wrapper {
    @include flex-center;
    flex-direction: column;
    margin-top: 5rem;

    .glitch {
      color: white;
      font-size: min(max(2.5rem, 10vw), 10rem);
      position: relative;
      margin: 0 auto;
    }

    @keyframes noise-anim {
      $steps: 20;
      @for $i from 0 through $steps {
        #{percentage($i*(calc(1/$steps)))} {
          clip: rect(random(100) + px, 9999px, random(100) + px, 0);
        }
      }
    }
    .glitch:after {
      content: attr(data-text);
      position: absolute;
      left: 2px;
      text-shadow: -1px 0 --var(-color-secondary);
      top: 0;
      color: white;
      overflow: hidden;
      clip: rect(0, 900px, 0, 0);
      animation: noise-anim 2s infinite linear alternate-reverse;
    }

    @keyframes noise-anim-2 {
      $steps: 20;
      @for $i from 0 through $steps {
        #{percentage($i*(calc(1/$steps)))} {
          clip: rect(random(100) + px, 9999px, random(100) + px, 0);
        }
      }
    }
    .glitch:before {
      content: attr(data-text);
      position: absolute;
      left: -2px;
      text-shadow: 1px 0 blue;
      top: 0;
      color: white;
      overflow: hidden;
      clip: rect(0, 900px, 0, 0);
      animation: noise-anim-2 3s infinite linear alternate-reverse;
    }
  }

  .text {
    max-width: 500px;
    padding: 1.5rem;
    text-align: center;
    color: var(--color-white-2);
  }

  .contact-icons {
    @include flex-space-around;
    flex-wrap: wrap;
    margin-top: 2rem;

    .icon {
      @include flex-center;
      @include ease-in-out;
      color: var(--color-black);
      background-color: var(--color-white-2);
      width: var(--text-50);
      aspect-ratio: 1/1;
      border-radius: 50%;
      margin: 0.4rem 0.4rem;
      font-size: var(--text-small);
      border: none;

      &:hover {
        background-color: var(--color-secondary);

        i {
          color: var(--color-primary);
        }
      }
    }
  }

  .contact-marquee {
    @include flex-center;
    max-width: 80%;
    border-radius: 50px;
    border: 2px solid #cc0000;
    margin: 5rem 0;
    overflow: hidden;

    .marquee {
      height: 5rem;
      &__wrapper {
        &_content {
          span {
            font-size: 2rem;
            color: #cc0000;

            &:after {
              content: "-";
              padding: 0 10px;
              color: #cc0000;
            }
          }
        }
      }
    }
  }
}

footer {
  background-color: var(--color-grey-4);
  padding: 1rem 0;
  text-align: center;

  .small-text {
    font-size: 0.8rem;
  }
}

/* Media queries */
@media screen and (max-width: 600px) {
  .header-content {
    .header-btns {
      #meeting,
      #cv {
        display: none;
      }
    }
  }
  .who-section {
    .who-wrapper {
      width: 90%;

      .who-tag {
        left: 70px;
      }

      .who-grid {
        margin-bottom: 1rem;

        &_number {
          margin-top: 5rem;
        }

        &_text {
          margin: 0 2rem;

          #aprendiz {
            display: none;
          }
        }
      }
    }
  }
}
