/* Import */
@import "include";
@import "sidebar";
@import "dropdown";
@import "cursor";
@import "icons";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  cursor: none;
}

a,
a:hover,
a:visited,
a:active,
a:link {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #0a0a0a;
    --color-secondary: #fff;
    --color-white: #ffffff;
    --color-white-2: #0a0a0a;
    --color-grey-1: #dbe1e8;
    --color-grey-4: #454e56;
    --color-blue: #049cd8;
    --color-sky: #042642;
    --color-yellow: #fbd000;
    --color-red: #e52521;

    .icon-theme:before {
      content: "\e901";
    }
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-primary: #ffffff;
    --color-secondary: #0a0a0a;
    --color-white: #0a0a0a;
    --color-white-2: #fff;
    --color-grey-1: #6c7983;
    --color-grey-4: #b2becd;
    --color-blue: #036187;
    --color-sky: #b1d9f9;
    --color-yellow: #fbd000;
    --color-red: #e52521;

    .icon-theme:before {
      content: "\e903";
    }
  }
}

.light-mode {
  --color-primary: #ffffff;
  --color-secondary: #0a0a0a;
  --color-white: #0a0a0a;
  --color-white-2: #fff;
  --color-grey-1: #6c7983;
  --color-grey-4: #b2becd;
  --color-blue: #036187;
  --color-sky: #b1d9f9;
  --color-yellow: #fbd000;
  --color-red: #e52521;

  .icon-theme:before {
    content: "\e903";
  }
}

.dark-mode {
  --color-primary: #0a0a0a;
  --color-secondary: #fff;
  --color-white: #ffffff;
  --color-white-2: #0a0a0a;
  --color-grey-1: #dbe1e8;
  --color-grey-4: #454e56;
  --color-blue: #049cd8;
  --color-sky: #042642;
  --color-yellow: #fbd000;
  --color-red: #e52521;

  .icon-theme:before {
    content: "\e901";
  }
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-color: var(--color-sky);
  color: var(--color-grey-1);
  transition: all 0.4s ease-in-out;
}

.container {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;

  .settings-wrapper {
    @include flex-center;
    position: absolute;
    top: 4vh;
    left: 25px;

    .setting {
      @include flex-center;
      background-color: var(--color-primary);
      height: 50px;
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      font-size: 1.2rem;
      border: none;

      i {
        color: var(--color-white);
      }
    }
  }

  .stage {
    position: relative;
    flex: 1;

    header {
      max-width: 540px;
      width: 100%;
      margin: 64px auto;
      display: flex;
      flex-direction: column;
      align-items: center;

      h1,
      h2 {
        color: var(--color-white);
        font-family: "Press Start 2P", sans-serif;
        text-align: center;
      }

      h1 {
        text-transform: uppercase;
        font-size: 64px;
        margin-bottom: 20px;
      }

      h2 {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 10px;
      }

      .info {
        font-family: "Press Start 2P", sans-serif;
        font-size: 10px;
        text-transform: uppercase;
        color: var(--color-blue);
      }

      @media screen and (max-width: 639px) {
        max-width: 400px;

        h1 {
          font-size: 48px;
        }

        h2 {
          font-size: 12px;
          line-height: 16px;
          margin-bottom: 10px;
        }
      }

      @media screen and (max-width: 399px) {
        max-width: 300px;

        h1 {
          font-size: 32px;
        }

        h2 {
          font-size: 11px;
          line-height: 14px;
          margin-bottom: 10px;
        }
      }
    }

    #events {
      position: absolute;
      bottom: 0;
      height: 100px;
      left: 50vw;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      transition-property: transform;
      transition-timing-function: ease-in-out;

      .peach,
      .event {
        position: relative;
        flex: 0 0 50px;
        width: 50px;
        height: 48px;
        margin-left: 100px;
        background-size: 100%;

        &::before,
        &::after {
          position: absolute;
          font-family: "Press Start 2P", sans-serif;
        }

        &::before {
          content: attr(data-month);
          font-size: 8px;
          text-transform: uppercase;
          line-height: 12px;
          text-align: center;
          color: var(--color-white);
          top: 0;
          left: 50%;
          transform: translate(-50%, -150%);
        }

        &::after {
          content: attr(data-title);
          min-width: 200px;
          font-size: 16px;
          line-height: 18px;
          text-align: center;
          color: var(--color-primary);
          top: 0;
          left: 50%;
          transform: translate(-50%, -40%) scale(0);
          background-color: var(--color-white);
          padding: 10px;
          border: 4px solid var(--color-blue);
          transition: transform 150ms ease-out;
        }

        &.active {
          &::after {
            display: block;
            transition: transform 500ms steps(6, end);
            transform: translate(-50%, calc(-100% - 50px)) scale(1);
          }
        }
      }

      .event {
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAwCAMAAABkKdmIAAAADFBMVEUAAAAAAAArggBN6AB9QUbmAAAAAXRSTlMAQObYZgAAAFpJREFUeNrt04EGgEAQhOFpe/93Dj9VUcywJDvA3t7HDU6LnYysVlJS5LKox6SEK3dywPOujRCbcNBJyD+7TBc7klyQENBrGwY+sbrIvuklDBGZLh992HSZLhtW2BQFi8zbNgAAAABJRU5ErkJggg==");
      }

      .peach {
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAwCAMAAABkKdmIAAABoVBMVEUAAAAJBwgAAAAIBgYAAAACAADV1dQAAAAFBQUAAAAAAAAAAAAEAQHRGhoDAgEAAAAKCQjOzs0BAQELAAAhAwMAAADd3d2di2wCAgAlJCEKCQnyHiCQERG1tbUfHx8AAAB4eXmamppkTiYBAQE/PjqcEhLmIyNjY2NYVE7rc3OPj49UCwvdHh4lIBVMSEIdGxdacTyVUCUaSg8SKg6SgWUZGRl3Cgp9ERG3MB/aHR4JjiYBAQH5+fn ///8QCwX+3axcW1s1NTb/7rn/57QZGBRNTU2RkZFkZGMuKR6jfj7216ehkHDNtIxUVFSMbDPn6Oj/98CtraxGRkcqKirIyMhhVkK+vr2PgWR3aVHrzaBtbW2beDp3XS06NCiMjItQSDiUcjcjIyQjHhfw8O/YvpTPu5G5o4FpXEdJQjXcHBtINxktIQz//8nw0qTcxZqynHp6blU+QEA3KhLlyZ2EhIRwYkptVCkkFweDdVt2Dg7Aq4Srl3aUh2tYTz5bRiNICgv+9dn81dXp2arpPj5qNC5Agy1mCQnepKOft22zLy+YLi5KBtQgAAAAO3RSTlMAE/I2227+vCjSrZRG/ol6Zv5ZPv5O/vykex/+/vzWyP78/Ofe/v3k0f7r1dTAv67+/v396+vnzqhrPE+0OsUAAAT5SURBVHjajZWDg+vKF4CTdm3bxsWPTyczyaC3bVKvbdvevXz6q9+ZNF1dfmt8c5ip9h0KqI8iPl37QRrK+oJp6ot+UCmCUZJGFvyYUdcVXzIQVGoG8vN+IKvqruBoHI2l5mTSGE3V+7+rlMFSDjRjhCUAqCFkqPUHFLY+vc4YOzg9nWbHpHwg91mchkqF/7FCD8OHlNKz+akpmhomOexZbqWgyNXuqYBYODYVDk/Nx2KxcIdqXiDrSXcGu5uamrp/KvBrBUiFVvjydGszvLm1dToVm5+fuoXhp4peWXXRuNHz4cNfVdn+xcVQ6HUePZxaDMUOqbzFINPzHTQZf6IUQvFG8UY/Ie8a7yQXJh8DCnAUgdUEv4HwJsSm5il7pOiFg02o/P5xctL6vYquXQpUIDQ2vj82fi5W9zdHxjZvw48VvYg2NRYXF1PwGH8vxihd26ah7RlqchP2t+nZE6Wgqnhjo/EC7qGS1wKMbMtQIkRN8wjWBN1SykFGya3q6b64+Lg/Po7v4/trKJ33lZS8uj4Z42PnpmmfrL5NK+292f6Mcof/tc25wPfEBACFEjWXZW4KbpqmeGtIpRgkDqUoFGX5oArk8o4truRyRK4ewVA0yjr1MqUoduQswVqAEZJDs1GphvU5AGliZx1YjsDeBDDLYqD7C/536SoTEEiGNqcO15PxGlBKEUQmvqTg45E/kxBC8B0KanfC05CMKyW3a2ViZ2UOFse4sCO2HdmxV0ZoWskrC83MhEIzo8Oji4fh+VNIGsO9uZpvHRNOrMHMtVhdEVgq/nQCFqOuwgAYSxm4XTPTMYxCyCSgkjBtPgcmFzCXMBWJcQi6UbIOSGqBpEnCNCqGMUm1ovr1FW5G9oQzA3JuF/s8MSdBvq7WsZYDg0l8KqOpVOCmYz4TRfPn1+7aphBjMiTB2V1Z3vPm4ioWy8kZXZQStsKxjvz2nJzefA1pDSU4V+tbC2mYBYVphZBhAGkLE+ci87VcwFEimNvIyNrIHhe7tU6tEwIW8JSf/+5/t9TOKPbEOdksqdaKsnFhXPyArL0/2jHdTlhWoNNN7MVG8R9xw4Ij20xcQd6Te9eyohYDDxocggbNVYob7yhVTwMXDrjn6xqSV9rCLCQ11GYtLLC2BWAvMWHFr7/8+wwFerJqck/xLpJUMKqcIMmxrFliUVwKj98+/ReoWib7sdL6/2jUCi4AEifxeNyYZeDL0r0i6X8+7U7YgvNQna5l6JRYCJsbQWZHiWGQN6mhzMtJdQn8608RcRynNviq4t7JQiUAzjaeBCmlzAaCQ56SBbDK+QggRvIhMZ+clKGVCRP7u3vNygkq1oKrVOc3t8OlvXhcPlxebsTLWwo9pa4lQEPcRFRXhl0lHaUMampSzh5Tl78KP9lV5OVWBBByDRvHhVHcxNxWqgMYVf/uQoahIq3o/tYQF4qbmVTb8fFkQFKaW6bV9TXHDWN41MhARqHaU/JyFyMuciEYDQQCDJACP7XU8V6MdBRWn5dJzCNqqZFK8LCM53i3ZUkuIAsMQeGJQr6i+EDBghai0opmFDn5uRJsadDdcSlFGUEGjyg3PB6b7tXX6SlDSEspku8pOd6/PtaIe/V5UaI+pNCdrY9SoKgYXyBHKT5woQ06oh4hvRIUdIl8gTgqXsdyS7R79EKkFY7ffIE2pWh4KMVNeEYpUPgCFJV/ABZZt+86fkQDAAAAAElFTkSuQmCC");
      }
    }
  }

  .ground {
    position: relative;
    flex: 0 0 30vh;
    transition: background-position;
    transition-timing-function: ease-in-out;
    margin-top: auto;
    background-color: brown;
    background-position: 0px 32px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAABlBMVEXcuUXCjk1OwG03AAAAOklEQVR42s3KMQ4AIAjF0Hr/S8vWUQxE7PTz81iHbgBRF4AJ4FUHBnlgPcDmAVEeEP0F3DlgdWBPwQZbaQOVh0uGXAAAAABJRU5ErkJggg==");

    .grass {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 32px;
      transition-property: background-position;
      transition-timing-function: ease-in-out;
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAElBMVEXcuUUAbT1tXRIAwgAAAADCjk0qQzGwAAAAVElEQVR42s3KgQbAMAyE4V52ef9X3sSqO3Ch1H6QnG/Q5MFlOgEAHVCt2wNSB1bAvD2I0CEqct4e6KD1QOb3zbf1NYBpB4ynPqjnV0BuD7R9oJ0BNy2lDrH5TF/VAAAAAElFTkSuQmCC");
    }
  }
}

.mario {
  position: absolute;
  width: 32px;
  height: 48px;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  animation-fill-mode: forwards;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQAAAAAwCAMAAADJoVRNAAAAKlBMVEX ///8AAAAgMIhAgJhQAACA2MiIWBiwKGDYoDj4QHD4cGj40MD42HD4+PiXA2ldAAAAAXRSTlMAQObYZgAAAyVJREFUeNrtl41uEzEQhHHaLCn1vf/r4sknM8Z3wg6iEpJ2pFyCv/0dkd7l279QKpVKpVLRtB+XBvxvev+lv+MRn01arTw1c04d9xVTzGzN0wCjj49aP55yyD6P+NHEaqzqKBpzyvqKjbgaT/Xp5OwVNxWB/Sl75mkA+DhqfTy+NxGyy22AhAGIKMzjBAOInA1gPNV/PGo9DnJ3OVQzasp5Qrg18zSgDFILNXLAPpcBsuLKADgG9PhxQFVVbcgr3OaMMzKh+SzzNKCc5AKvc63HlSaMPp6P8npe7nVui619A9IApNH6S/r8JGDN+ZcE4c/cyYAmR0jjAp24C2SPR1D/92uEuWYYJTvN04BoUgteStYfM6+44n0lca5XBnTmWK8XQZa7RNMe77Odr47gS+T1NVkaAKXAqNLE7YwFV3yOKGgyAI1xXpDbo7kjdrgmMfMMyrJBTIL02QalASrQpWP/R2fBFR9jaM+7GvWbmE/Pj8IaRqzXhhOz5v6KmvA1gdogzYv8WJYGoGL5NtYEXXMb4J9EfEX8XzhCefPwru/bpLXLvSTycjbIDEUQkQYgJ0okQGaOOrdYGWHS+CjK8J27ueuP2WjiTWduiZ7Xt2aDTNKArtstAs0/FMwdEXHm701vTcpXBYubkJg+3W4miIpd5pbyr7h/7sDmDdz/3qTl73emSAPm8RWgEfuj4jWPgEe8kt8fRcUVN68QAY8wX+ebqqfOJU3hCXo289Um8dsNngZ4/OO4348mrSgZlybzCF31Xso63yPoTOspRpFawR1c1Vx99/IjtD6Ed1kQ4WzWt2RBGnBtgEfx+rWWMi4Ix4JVPrpacFyf83FBupayyodFzAZwagPenurLN00GpAEgKWI2QKsqwtwGrPJRP/MYZwPMRelayjqfVTWBZ7ABCNqv4s5PA5COQV5gtsDF1dAGOH/HACLNSqEaVPL6q3zEPDDeqXfeD835aYAH0QuN5xAVQTqrlbN1PuKUiHNerXN9G7DKdxWLiH2eBrCSXg6wPMp8ts6fByBqv/463yZiGp+us+GXE6YBk0zWWuV/fX2fW1s8DfgJOOWTbX4vpL0AAAAASUVORK5CYII=");
  $leftPos: 15%;
  $rightPos: 85%;
  $walkSpeed: 0.2s;

  @keyframes walk-left-loop {
    0% {
      background-position: 0;
    }

    100% {
      background-position: -2 * 32px;
    }
  }

  @keyframes walk-right-loop {
    0% {
      background-position: -4 * 32px;
    }

    100% {
      background-position: -6 * 32px;
    }
  }

  @keyframes search {
    0% {
      background-position: -2 * 32px;
    }

    100% {
      background-position: -4 * 32px;
    }
  }

  @keyframes walk-left {
    0% {
      left: $rightPos;
    }

    100% {
      left: $leftPos;
    }
  }

  @keyframes walk-right {
    0% {
      left: $leftPos;
    }

    100% {
      left: $rightPos;
    }
  }

  &.idle {
    animation: none;
    background-position: -6 * 32px;
  }

  &.walk-left {
    animation: walk-left-loop $walkSpeed steps(2) infinite;
  }

  &.walk-right {
    animation: walk-right-loop $walkSpeed steps(2) infinite;
  }

  &.search-left {
    animation: search 2s steps(2) infinite;
  }

  &.search-right {
    animation: search 2s steps(2) infinite;
  }
}
