:root {
  --gray-darker: #444444;
  --gray-dark: #696969;
  --gray: #999999;
  --gray-light: #cccccc;
  --gray-lighter: #ececec;
  --gray-lightest: lighten(--gray-lighter, 4%);
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
}

a,
a:hover,
a:visited,
a:active,
a:link {
  text-decoration: none;
}

section {
  min-height: 100vh;
  width: 100%;
}

html {
  background-color: #f0f0f0;
}

body {
  color: var(--gray);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  padding: 1rem;
}

h1 {
  font-size: 5rem;
  padding: 3rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  gap: 2rem;

  .card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: white;
    border-radius: 0.25rem;
    max-width: 300px;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);

    &:hover .card__image {
      filter: contrast(100%);
    }

    &__content {
      padding: 1rem;

      .btn {
        background-color: white;
        border: 1px solid var(--gray-light);
        border-radius: 1rem;
        color: var(--gray-dark);
        padding: 0.5rem;
        text-transform: lowercase;
        cursor: pointer;
        transition: all 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);

        &:hover {
          background-color: #cc0000;
          color: white;
        }

        &--block {
          width: 100%;
          height: 48px;
          font-size: 1.2rem;
        }
      }
    }

    &__image {
      filter: contrast(70%);
      overflow: hidden;
      position: relative;
      transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
      height: 400px;

      img {
        height: 100%;
        margin: auto;
        display: block;
        width: 300px;
        object-fit: contain;
      }
    }

    &__title {
      color: var(--gray-dark);
      font-size: 1.7rem;
      font-weight: 300;
      letter-spacing: 2px;
      text-transform: uppercase;
    }

    &__text {
      font-size: 1rem;
      line-height: 1.5;
      margin-bottom: 1.25rem;
    }
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 3rem;
    padding: 1.5rem;
  }

  .cards {
    .card {
      margin-bottom: 1rem;

      &__image {
        max-height: 200px;
      }
    }
  }
}
