* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #191d2b;
    --color-secondary: #0080ff;
    --color-white: #ffffff;
    --color-black: #000;
    --color-grey0: #f8f8f8;
    --color-grey-1: #dbe1e8;
    --color-grey-2: #b2becd;
    --color-grey-3: #6c7983;
    --color-grey-4: #454e56;
    --color-grey-5: #2a2e35;
    --color-grey-6: #12181b;
    --color-opposite: #f56692;
    --br-sm-2: 14px;
    --box-shadow-1: 0 3px 15px rgba(0, 0, 0, 0.3);
  }

  .light-mode {
    --color-primary: #ffffff;
    --color-secondary: #f56692;
    --color-white: #454e56;
    --color-black: #000;
    --color-grey0: #f8f8f8;
    --color-grey-1: #6c7983;
    --color-grey-2: #6c7983;
    --color-grey-3: #6c7983;
    --color-grey-4: #b2becd;
    --color-grey-5: #f8f8f8;
    --color-grey-6: #12181b;
    --color-opposite: #0080ff;
  }
}

body {
  background-color: var(--color-primary);
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  color: var(--color-white);
  transition: all 0.4s ease-in-out;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

header {
  min-height: 100vh;
  color: var(--color-white);
  overflow: hidden;
  padding: 0 !important;
}

section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem 18rem;
}

.container {
  display: none;
  transform: translateY(-100%) scale(0);
  transition: all 0.4s ease-in-out;
  background-color: var(--color-primary);
}

.active {
  display: block;
  transform: translateY(0) scaleY(1);
}

//Controls
.controls {
  position: fixed;
  z-index: 10;
  top: 50vh;
  right: 3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);

  .control {
    padding: 1vh;
    cursor: pointer;
    background-color: var(--color-grey-4);
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vh 0;
    box-shadow: var(--box-shadow-1);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;

    i {
      font-size: 3vh;
      color: var(--color-grey-2);
      pointer-events: none;
    }

    &:hover {
      transition: all 0.3s ease-in-out;
      transform: translateY(-3px);
      box-shadow: 0 10px 20px var(--color-white);
    }
  }
  .active-btn {
    background-color: var(--color-secondary);

    i {
      color: var(--color-white);
    }
  }
}

.theme-btn {
  top: 3vh;
  right: 3vw;
  width: 8vh;
  height: 8vh;
  border-radius: 50%;
  background-color: var(--color-grey-4);
  cursor: pointer;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow-1);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;

  &:active {
    transform: translateY(-3px);
  }

  i {
    font-size: 3vh;
    color: var(--color-grey-2);
    pointer-events: none;
  }

  &:hover {
    background-color: var(--color-white);
    transform: translateY(-3px);
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    box-shadow: 0 10px 20px var(--color-opposite);

    i {
      color: var(--color-opposite);
    }
  }
}

.translate-btn {
  top: 3vh;
  right: 20vh;
  width: 8vh;
  height: 8vh;
  border-radius: 50%;
  background-color: var(--color-grey-4);
  cursor: pointer;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow-1);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;

  span {
    font-size: 4vh;
    font-weight: bold;
    color: var(--color-grey-2);
    pointer-events: none;
  }

  .img {
    align-self: center;
    display: none;
  }

  &:hover {
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    box-shadow: 0 10px 20px var(--color-opposite);

    span {
      display: none;
    }

    .img {
      display: inline;
    }
  }
}

/*Header-content*/
.header-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 100vh;

  .left-header {
    display: flex;
    align-items: center;
    position: relative;

    .h-shape {
      transition: all 0.4s ease-in-out;
      width: 65%;
      height: 100%;
      background-color: var(--color-secondary);
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
    }

    .image {
      border-radius: var(--br-sm-2);
      height: 90%;
      width: 68%;
      margin-left: 4rem;
      background-color: var(--color-black);
      overflow: hidden;
      transition: all 0.4s ease-in-out;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.4s ease-in-out;
        filter: grayscale(100%);

        &:hover {
          filter: grayscale(0);
        }
      }
    }
  }

  .right-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 18rem;

    .name {
      font-size: 3rem;

      span {
        color: var(--color-secondary);
        animation: color-animation 4s linear infinite;
      }

      @keyframes color-animation {
        0% {
          color: var(--color-secondary);
        }
        49% {
          color: var(--color-secondary);
        }
        50% {
          color: var(--color-opposite);
        }
        99% {
          color: var(--color-opposite);
        }
        100% {
          color: var(--color-secondary);
        }
      }
    }

    p {
      margin: 1.5rem 0;
      line-height: 2rem;
    }
  }
}

/*About*/
.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 3.5rem;
  padding-bottom: 5rem;

  .right-about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;

    .about-item {
      border: 1px solid var(--color-grey-5);
      border-radius: 5px;
      transition: all 0.4s ease-in-out;
      box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);

      &:hover {
        cursor: default;
        transform: translateY(-5px);
        border: 1px solid var(--color-secondary);
        box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.32);
      }

      .abt-text {
        padding: 1.5rem;
        display: flex;
        flex-direction: column;

        .large-text {
          font-size: 3rem;
          font-weight: 700;
          color: var(--color-secondary);
        }

        .small-text {
          padding-left: 3rem;
          position: relative;
          text-transform: uppercase;
          font-size: 1.2rem;
          color: var(--color-grey-1);
          letter-spacing: 2px;

          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 15px;
            width: 2rem;
            height: 2px;
            background-color: var(--color-grey-5);
          }
        }
      }
    }
  }

  .left-about {
    padding-right: 5rem;

    p {
      line-height: 2rem;
      padding: 1rem;
      color: var(--color-grey-1);
    }

    h4 {
      font-size: 2rem;
      text-transform: uppercase;
    }
  }
}

.about-stats {
  padding-bottom: 4rem;

  .progress-bars {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;

    .progress-bar {
      display: flex;
      flex-direction: column;

      .prog-title {
        text-transform: uppercase;
        font-weight: 500;
      }

      .progress-con {
        display: flex;
        align-items: center;

        .prog-text {
          color: var(--color-grey-2);
        }

        .progress {
          width: 100%;
          height: 0.45rem;
          background-color: var(--color-grey-4);
          margin-left: 1rem;
          position: relative;

          span {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            background-color: var(--color-secondary);
            transition: all 0.4s ease-in-out;
            width: 60%;
          }

          .transdig {
            width: 95%;
          }

          .engmec {
            width: 95%;
          }

          .dash {
            width: 90%;
          }

          .webdev {
            width: 80%;
          }

          .datasci {
            width: 80%;
          }

          .iden {
            width: 65%;
          }

          .lean {
            width: 80%;
          }

          .info {
            width: 100%;
          }

          .pt {
            width: 100%;
          }

          .en {
            width: 100%;
          }

          .es {
            width: 75%;
          }

          .fr {
            width: 40%;
          }
        }
      }
    }
  }
}

.stat-title {
  text-transform: uppercase;
  font-size: 1.4rem;
  text-align: center;
  padding: 3.5rem 0;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 40%;
    height: 1px;
    background-color: var(--color-grey-5);
    transform: translateX(-50%);
  }
}

/*Timeline*/
.timeline {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  padding-bottom: 3rem;

  .timeline-item {
    position: relative;
    padding-left: 3rem;
    border-left: 1px solid var(--color-grey-5);

    .tl-icon {
      position: absolute;
      left: -27px;
      top: 0;
      background-color: var(--color-secondary);
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      i {
        font-size: 1.3rem;
      }
    }

    .tl-duration {
      padding: 0.2rem 0.6rem;
      background-color: var(--color-grey-5);
      border-radius: 15px;
      display: inline-block;
      font-size: 0.8rem;
      text-transform: uppercase;
      font-weight: 500;
    }

    h5 {
      padding: 1rem 0;
      text-transform: uppercase;
      font-size: 1.3rem;
      font-weight: 600;

      span {
        color: var(--color-grey-2);
        font-weight: 500;
        font-size: 1.2rem;
      }
    }

    p {
      color: var(--color-grey-2);
    }
  }
}

//Contact section
.contact-content-con {
  display: flex;
  padding-top: 3.5rem;

  .left-contact {
    flex: 2;

    h4 {
      margin-top: 1rem;
      font-size: 2rem;
      text-transform: uppercase;
    }

    p {
      margin: 1rem 0;
      line-height: 2rem;
    }

    .contact-info {
      .contact-item {
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
          margin: 0.3rem 0 !important;
          padding: 0 !important;
        }

        .icon {
          display: grid;
          grid-template-columns: 40px 1fr;

          i {
            display: flex;
            align-items: center;
            font-size: 1.3rem;
          }
        }
      }
    }

    .contact-icon {
      display: flex;
      margin-top: 2rem;

      a {
        display: flex;
        align-items: center;
        color: var(--color-white);
        background-color: var(--color-grey-5);
        cursor: pointer;
        justify-content: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin: 0 0.4rem;
        transition: all 0.4s ease-in-out;

        &:hover {
          background-color: var(--color-secondary);

          i {
            color: var(--color-primary);
          }
        }

        i {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.3rem;
        }
      }
    }
  }

  .right-contact {
    flex: 3;
    margin-left: 3rem;

    .input-control {
      margin: 1.5rem 0;

      input,
      textarea {
        border-radius: 30px;
        font-weight: inherit;
        font-size: inherit;
        font-family: inherit;
        padding: 0.8rem 1.1rem;
        outline: none;
        border: none;
        background-color: var(--color-grey-5);
        width: 100%;
        color: var(--color-white);
        resize: none;
      }
    }

    .submit-btn {
      display: flex;
      justify-content: flex-start;
    }
  }
}

/*Independed components*/
.btn-con {
  display: flex;
  align-self: flex-start;
}

.main-btn {
  border-radius: 30px;
  color: inherit;
  font-weight: 600;
  position: relative;
  border: 1px solid var(--color-secondary);
  display: flex;
  align-self: flex-start;
  align-items: center;
  overflow: hidden;

  .btn-text {
    padding: 0 2rem;
  }

  .btn-icon {
    background-color: var(--color-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 1rem;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: all 0.4s ease-out;
    z-index: -1;
  }

  &:hover {
    transition: all 0.4s ease-out;

    &::before {
      width: 100%;
      height: 100%;
      background-color: var(--color-secondary);
      transform: translateX(0);
      transition: all 0.4s ease-out;
    }
  }
}

.main-title {
  text-align: center;

  h2 {
    position: relative;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 700;

    span {
      color: var(--color-secondary);
    }

    .bg-text {
      position: absolute;
      top: 50%;
      left: 50%;
      color: var(--color-grey-5);
      transition: all 0.4s ease-in-out;
      z-index: -1;
      transform: translate(-50%, -50%);
      font-weight: 800;
      font-size: 6.3rem;
    }
  }
}

/* highlight for text */
span.highlight {
  color: var(--color-secondary);
  font-weight: bold;
}

/* link color */
a.different:link {
  color: var(--color-secondary);
}

/* visited link */
a.different:visited {
  color: var(--color-secondary);
}

/* mouse over link */
a.different:hover {
  color: var(--color-opposite);
}

@import "./media";
